<a href="https://colab.research.google.com/github/shivi13102/Earthquake_analysis/blob/main/Cleaning_earthquake_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [662]:
import pandas as pd
import numpy as np

In [663]:
df1 = pd.read_csv("/content/earthquake_data.csv")
df2 = pd.read_csv("/content/earthquake_1995-2023.csv")

In [664]:
print(df1.info())
display(df1.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB
None

,magnitude,cdi,mmi,tsunami,sig,nst,dmin,gap,depth,latitude,longitude
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,6.941125,4.333760,5.964194,0.388747,870.108696,230.250639,1.325757,25.038990,75.883199,3.538100,52.609199
std,0.445514,3.169939,1.462724,0.487778,322.465367,250.188177,2.218805,24.225067,137.277078,27.303429,117.898886
min,6.500000,0.000000,1.000000,0.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000
25%,6.600000,0.000000,5.000000,0.000000,691.000000,0.000000,0.000000,14.625000,14.000000,-14.595600,-71.668050
50%,6.800000,5.000000,6.000000,0.000000,754.000000,140.000000,0.000000,20.000000,26.295000,-2.572500,109.426000
75%,7.100000,7.000000,7.000000,1.000000,909.750000,445.000000,1.863000,30.000000,49.750000,24.654500,148.941000
max,9.100000,9.000000,9.000000,1.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000

In [665]:
print(df2.info())
display(df2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1000 non-null   object
 1   magnitude  1000 non-null   float64
 2   date_time  1000 non-null   object
 3   cdi        1000 non-null   int64
 4   mmi        1000 non-null   int64
 5   alert      449 non-null    object
 6   tsunami    1000 non-null   int64
 7   sig        1000 non-null   int64
 8   net        1000 non-null   object
 9   nst        1000 non-null   int64
 10  dmin       1000 non-null   float64
 11  gap        1000 non-null   float64
 12  magType    1000 non-null   object
 13  depth      1000 non-null   float64
 14  latitude   1000 non-null   float64
 15  longitude  1000 non-null   float64
 16  location   994 non-null    object
 17  continent  284 non-null    object
 18  country    651 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 148.6+ KB
None

,magnitude,cdi,mmi,tsunami,sig,nst,dmin,gap,depth,latitude,longitude
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,6.940150,3.605000,6.02700,0.325000,847.915000,193.918000,1.125174,20.926290,74.612541,4.315554,51.486576
std,0.438148,3.328972,1.43399,0.468609,301.802632,239.045858,2.073164,24.415895,130.812590,26.633320,117.478302
min,6.500000,0.000000,1.00000,0.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000
25%,6.600000,0.000000,5.00000,0.000000,691.000000,0.000000,0.000000,0.000000,16.000000,-13.518500,-71.694450
50%,6.800000,4.000000,6.00000,0.000000,744.000000,0.000000,0.000000,18.000000,29.000000,-2.443500,107.791000
75%,7.100000,7.000000,7.00000,1.000000,874.250000,403.000000,1.549250,27.000000,55.000000,25.167250,148.364750
max,9.100000,9.000000,10.00000,1.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000

In [666]:
display(df1.columns)
display(df2.columns)

Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami',
       'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'continent', 'country'],
      dtype='object')

Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami',
       'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'continent', 'country'],
      dtype='object')

# Cleaning df1 Table

In [667]:
columns_to_check = ['date_time','latitude', 'longitude', 'location', 'continent', 'country']

# Check for null values in df1
null_values_df1 = df1[columns_to_check].isnull().sum()

print("Null values in df1:")
print(null_values_df1)

Null values in df1:
date_time      0
latitude       0
longitude      0
location       5
continent    576
country      298
dtype: int64

In [668]:
display(df1.head(10))

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.5960,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.7380,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12/11/2022 7:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.3460,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11/11/2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.1290,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,9/11/2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.2780,NaN,NaN,NaN
5,M 7.0 - south of the Fiji Islands,7.0,9/11/2022 9:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,NaN,NaN
6,M 6.8 - south of the Fiji Islands,6.8,9/11/2022 9:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,NaN,NaN
7,"M 6.7 - 60 km SSW of Boca Chica, Panama",6.7,20-10-2022 11:57,7,6,green,1,797,us,145,1.151,37.0,mww,20.000,7.6712,-82.3396,"Boca Chica, Panama",NaN,Panama
8,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,22-09-2022 06:16,8,7,yellow,1,1179,us,175,2.137,92.0,mww,20.000,18.3300,-102.9130,"Aguililla, Mexico",North America,Mexico
9,"M 7.6 - 35 km SSW of Aguililla, Mexico",7.6,19-09-2022 18:05,9,8,yellow,1,1799,us,271,1.153,69.0,mww,26.943,18.3667,-103.2520,"Aguililla, Mexico",North America,Mexico

In [669]:
# Use a regular expression to split 'location' into 'location' and 'country' only if a comma exists
df1[['location', 'country']] = df1['location'].str.extract(r'^\s*([^,]+)\s*(?:,\s*(.*))?$', expand=True)

# Fill empty 'country' values with an empty string
df1['country'] = df1['country'].fillna("")

# Verify the changes
display(df1.head(10))

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.5960,Malango,Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.7380,Bengkulu,NaN,Indonesia
2,M 7.0 -,7.0,12/11/2022 7:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.3460,NaN,Oceania,
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11/11/2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.1290,Neiafu,NaN,Tonga
4,M 6.6 -,6.6,9/11/2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.2780,NaN,NaN,
5,M 7.0 - south of the Fiji Islands,7.0,9/11/2022 9:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,NaN,
6,M 6.8 - south of the Fiji Islands,6.8,9/11/2022 9:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,NaN,
7,"M 6.7 - 60 km SSW of Boca Chica, Panama",6.7,20-10-2022 11:57,7,6,green,1,797,us,145,1.151,37.0,mww,20.000,7.6712,-82.3396,Boca Chica,NaN,Panama
8,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,22-09-2022 06:16,8,7,yellow,1,1179,us,175,2.137,92.0,mww,20.000,18.3300,-102.9130,Aguililla,North America,Mexico
9,"M 7.6 - 35 km SSW of Aguililla, Mexico",7.6,19-09-2022 18:05,9,8,yellow,1,1799,us,271,1.153,69.0,mww,26.943,18.3667,-103.2520,Aguililla,North America,Mexico

In [670]:
# Delete rows where 'location' column is null in both dataframes
df1 = df1[df1['location'].notnull()]

# Verify by checking the number of null values again
null_values_df1_cleaned = df1['location'].isnull().sum()

# Print the cleaned dataframes' summary
print(f"Null values in 'location' for df1 after cleaning: {null_values_df1_cleaned}")

Null values in 'location' for df1 after cleaning: 0

In [671]:
# Reorder columns in df1
columns = list(df1.columns)
columns.remove('country')
columns.insert(columns.index('location') + 1, 'country')
df1 = df1[columns]

display(df1.head())

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,Malango,Solomon Islands,Oceania
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,Bengkulu,Indonesia,NaN
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11/11/2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,Neiafu,Tonga,NaN
5,M 7.0 - south of the Fiji Islands,7.0,9/11/2022 9:51,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.381,the Fiji Islands,,NaN
6,M 6.8 - south of the Fiji Islands,6.8,9/11/2022 9:38,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.363,the Fiji Islands,,NaN

In [672]:
columns_to_check = ['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami', 'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth']

# Check for null values in df1
null_values_df1 = df1[columns_to_check].isnull().sum()

print("Null values in df1:")
print(null_values_df1)

Null values in df1:
title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        367
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
dtype: int64

In [673]:
# Convert 'date-time' column to datetime format for proper sorting
df1['date_time'] = pd.to_datetime(df1['date_time'], format='%d/%m/%Y %H:%M', errors='coerce')

# Check for any parsing errors (NaT values)
if df1['date_time'].isna().any():
    print("Some dates could not be parsed. Check the input format of your data.")

# Sort the data by 'date-time' column
df1 = df1.sort_values(by='date_time', ascending=False)

display(df1.head(10))

Some dates could not be parsed. Check the input format of your data.

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.1290,Neiafu,Tonga,NaN
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,,NaN
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158,12.0,mww,116.000,-6.2237,146.4710,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454,34.0,mww,12.000,29.7263,102.2790,Kangding,China,Asia
17,"M 6.5 - 107 km SSW of Tarauac, Brazil",6.5,2022-06-08 00:55:00,3,2,green,0,653,us,236,1.999,31.0,mww,622.730,-9.0618,-71.1647,Tarauac,Brazil,South America
20,M 6.8 - 86 km NNW of San Antonio de los Cobres...,6.8,2022-05-10 23:06:00,6,5,green,1,762,us,162,1.505,30.0,mww,220.000,-23.6141,-66.7236,San Antonio de los Cobres,Argentina,South America
27,"M 6.6 - Kermadec Islands, New Zealand",6.6,2022-03-02 12:52:00,2,7,green,1,670,us,0,0.827,46.0,mww,24.000,-30.0528,-177.7400,Kermadec Islands,New Zealand,NaN
29,"M 6.5 - 49 km NW of Barranca, Peru",6.5,2022-02-03 15:58:00,8,6,green,0,690,us,0,3.026,22.0,mww,110.000,-4.4550,-76.9395,Barranca,Peru,South America
34,"M 6.6 - 53 km SE of Nikolski, Alaska",6.6,2022-01-11 12:39:00,8,5,green,1,674,us,0,0.507,49.0,mww,19.000,52.6252,-168.1500,Nikolski,Alaska,NaN

In [674]:
# Get unique values in the 'country'
unique_countries_df1 = df1['country'].unique()

print("Unique values in 'country' column for df1:")
print(unique_countries_df1)

Unique values in 'country' column for df1:
['Tonga' '' 'Papua New Guinea' 'China' 'Brazil' 'Argentina' 'New Zealand'
 'Peru' 'Alaska' 'Cyprus' 'Japan' 'Mexico' 'Philippines' 'Mongolia'
 'Chile' 'Indonesia' 'Solomon Islands' 'Greece' 'Fiji' 'CA'
 'South Sandwich Islands' 'New Caledonia' 'Svalbard and Jan Mayen'
 'Russia' 'Hawaii' 'Bolivia' 'Honduras' 'Iraq' 'New Zealand region'
 'Vanuatu' 'Botswana' 'California' 'Afghanistan' 'India' 'Tajikistan'
 'India region' 'Timor Leste' 'Panama' 'Nicaragua' 'Japan region'
 'Colombia' 'Guatemala' 'Myanmar' 'Costa Rica' 'B.C., MX' 'Haiti'
 'Kyrgyzstan' 'Democratic Republic' 'Pakistan' 'Canada' 'Taiwan' 'Turkey'
 'Guam' 'Wallis and Futuna' 'NV Earthquake' 'Idaho' 'Jamaica' 'Australia'
 'El Salvador' 'Ecuador' 'Venezuela' 'Russia region' 'Italy'
 'Northern Mariana Islands' 'Aleutian Islands, Alaska' 'Barbados' 'Nepal'
 'Iran' 'Samoa' 'Martinique' 'Zimbabwe' 'Cayman Islands' 'Algeria'
 'Washington']

In [675]:
# Replace specific values in 'country' column
df1['country'] = df1['country'].replace({'CA': 'California', 'B.C., MX': 'Baja California, Mexico'})

print("Updated 'country' column in df1:")
display(df1['country'].unique())

Updated 'country' column in df1:

array(['Tonga', '', 'Papua New Guinea', 'China', 'Brazil', 'Argentina',
       'New Zealand', 'Peru', 'Alaska', 'Cyprus', 'Japan', 'Mexico',
       'Philippines', 'Mongolia', 'Chile', 'Indonesia', 'Solomon Islands',
       'Greece', 'Fiji', 'California', 'South Sandwich Islands',
       'New Caledonia', 'Svalbard and Jan Mayen', 'Russia', 'Hawaii',
       'Bolivia', 'Honduras', 'Iraq', 'New Zealand region', 'Vanuatu',
       'Botswana', 'Afghanistan', 'India', 'Tajikistan', 'India region',
       'Timor Leste', 'Panama', 'Nicaragua', 'Japan region', 'Colombia',
       'Guatemala', 'Myanmar', 'Costa Rica', 'Baja California, Mexico',
       'Haiti', 'Kyrgyzstan', 'Democratic Republic', 'Pakistan', 'Canada',
       'Taiwan', 'Turkey', 'Guam', 'Wallis and Futuna', 'NV Earthquake',
       'Idaho', 'Jamaica', 'Australia', 'El Salvador', 'Ecuador',
       'Venezuela', 'Russia region', 'Italy', 'Northern Mariana Islands',
       'Aleutian Islands, Alaska', 'Barbados', 'Nepal', 'Iran', 'Samoa',
       'Martinique', 'Zimbabwe', 'Cayman Islands', 'Algeria',
       'Washington'], dtype=object)

In [676]:
# list of countries to filter
countries_to_filter = ['Alaska', 'California', 'Hawaii', 'Idaho', 'Guam','NV Earthquake', 'Northern Mariana Islands', 'Aleutian Islands, Alaska', 'Washington']

# Filter rows
filtered_df1 = df1[df1['country'].isin(countries_to_filter)]

print("Rows in df1 with 'country' column matching specified values:")
display(filtered_df1)

Rows in df1 with 'country' column matching specified values:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
34,"M 6.6 - 53 km SE of Nikolski, Alaska",6.6,2022-01-11 12:39:00,8,5,green,1,674,us,0,0.507000,49.00,mww,19.000,52.6252,-168.150,Nikolski,Alaska,NaN
32,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,at,97,1.616070,108.00,Mi,37.000,52.5020,-168.080,Nikolski,Alaska,NaN
33,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,pt,23,0.000000,208.80,Mi,37.000,52.5020,-168.080,Nikolski,Alaska,NaN
35,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,at,50,0.936943,126.00,Mi,33.000,52.4800,-167.736,Nikolski,Alaska,NaN
36,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,pt,20,0.000000,205.20,Mi,33.000,52.4800,-167.736,Nikolski,Alaska,NaN
37,"M 6.8 - 100 km SE of Nikolski, Alaska",6.8,2022-01-11 11:35:00,7,6,green,1,730,us,0,0.920000,61.00,mww,20.000,52.6563,-167.917,Nikolski,Alaska,NaN
44,"M 6.9 - 112 km E of Chignik, Alaska",6.9,2021-10-11 09:10:00,8,6,green,1,995,ak,0,0.000000,0.00,mww,51.600,56.2581,-156.492,Chignik,Alaska,North America
125,"M 7.1 - 18km W of Searles Valley, CA",7.1,2019-07-06 03:19:00,9,9,yellow,0,1646,ci,77,0.046160,43.00,mw,8.000,35.7695,-117.599,Searles Valley,California,North America
174,"M 6.9 - 18 km SSW of Leilani Estates, Hawaii",6.9,2018-05-04 22:32:00,7,8,yellow,1,1392,hv,63,0.110000,210.00,mw,5.810,19.3182,-155.000,Leilani Estates,Hawaii,NaN
196,"M 6.5 - 247 km ESE of Attu Station, Alaska",6.5,2017-10-08 22:34:00,3,5,green,1,651,us,0,1.154000,11.00,mww,119.000,52.3909,176.769,Attu Station,Alaska,North America
206,"M 6.8 - 200 km NW of Attu Station, Alaska",6.8,2017-06-02 22:24:00,0,4,green,1,711,us,0,2.308000,12.00,mww,5.000,54.0312,170.920,Attu Station,Alaska,NaN
227,"M 6.6 - 164 km W of Ferndale, California",6.6,2016-12-08 14:49:00,5,4,green,1,1120,us,0,1.405000,55.00,mww,8.450,40.4535,-126.194,Ferndale,California,NaN
358,"M 6.8 - 77 km WNW of Indianola, California",6.8,2014-03-10 05:18:00,5,5,green,1,1211,nc,112,0.656800,229.00,mw,16.441,40.8287,-125.134,Indianola,California,NaN
379,"M 6.5 - 81 km SSW of Atka, Alaska",6.5,2013-09-04 02:32:00,0,6,green,1,650,us,0,0.735000,24.00,mww,20.000,51.5573,-174.767,Atka,Alaska,NaN
417,"M 7.5 - 110 km SW of Edna Bay, Alaska",7.5,2013-01-05 08:58:00,6,6,NaN,0,1425,ak,0,0.000000,0.00,mw,8.700,55.2280,-134.859,Edna Bay,Alaska,NaN
520,"M 6.5 - 37 km WNW of Ferndale, California",6.5,2010-01-10 00:27:00,7,7,NaN,0,1360,nc,51,0.322500,220.00,mw,28.737,40.6520,-124.692,Ferndale,California,North America
730,"M 7.9 - 75 km E of Cantwell, Alaska",7.9,2002-11-03 22:12:00,8,9,NaN,0,1750,ak,0,0.000000,0.00,mw,4.200,63.5141,-147.453,Cantwell,Alaska,North America
760,"M 7.0 - 69 km SSE of Inarajan Village, Guam",7.0,2001-10-12 15:02:00,0,6,NaN,0,754,us,482,0.000000,0.00,mwc,37.000,12.6860,144.980,Inarajan Village,Guam,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-01-10 16:02:00,5,7,NaN,0,745,ak,0,0.000000,0.00,mw,36.400,56.7744,-153.281,Old Harbor,Alaska,North America
54,"M 6.9 - 136 km SE of Perryville, Alaska",6.9,NaT,5,4,green,1,738,ak,0,0.000000,0.00,mww,33.300,55.2364,-157.707,Perryville,Alaska,NaN
55,"M 6.9 - 125 km SE of Perryville, Alaska",6.9,NaT,5,4,green,1,738,us,0,1.173000,36.00,mww,20.740,55.2657,-157.680,Perryville,Alaska,NaN
59,"M 8.2 - 91 km ESE of Perryville, Alaska",8.2,NaT,8,6,green,1,1237,us,0,0.875000,66.00,mww,46.660,55.4742,-157.917,Perryville,Alaska,NaN
60,"M 8.2 - 99 km SE of Perryville, Alaska",8.2,NaT,8,7,yellow,1,1252,ak,0,0.000000,0.00,mww,35.000,55.3154,-157.829,Perryville,Alaska,NaN
84,"M 7.6 - 99 km SE of Sand Point, Alaska",7.6,NaT,9,7,yellow,1,1165,us,0,0.230000,36.00,mww,28.370,54.6620,-159.675,Sand Point,Alaska,North America
93,"M 7.8 - 99 km SSE of Perryville, Alaska",7.8,NaT,9,7,green,1,1111,us,0,0.621000,60.00,mww,28.000,55.1079,-158.477,Perryville,Alaska,NaN
100,"M 6.5 - Monte Cristo Range, NV Earthquake",6.5,NaT,7,8,green,0,1320,nn,27,0.357000,55.79,ml,2.700,38.1689,-117.850,Monte Cristo Range,NV Earthquake,North America
104,"M 6.5 - Stanley, Idaho",6.5,NaT,8,8,green,0,1410,us,0,0.885000,31.00,mww,12.060,44.4646,-115.118,Stanley,Idaho,North America
147,"M 7.1 - 1 km SE of Point MacKenzie, Alaska",7.1,NaT,8,8,orange,1,1790,ak,0,0.000000,0.00,mw,46.700,61.3464,-149.955,Point MacKenzie,Alaska,North America
172,"M 6.5 - 108 km WSW of Adak, Alaska",6.5,NaT,6,6,green,1,655,us,0,0.576000,22.00,mww,33.930,51.4234,-178.026,Adak,Alaska,North America
182,"M 7.9 - 261 km SE of Chiniak, Alaska",7.9,NaT,9,4,green,1,1870,us,0,2.585000,30.00,mww,14.060,56.0039,-149.166,Chiniak,Alaska,NaN
243,"M 7.7 - Pagan region, Northern Mariana Islands",7.7,NaT,5,6,green,1,971,us,0,3.294000,14.00,mww,196.000,18.5429,145.507,Pagan region,Northern Mariana Islands,NaN
259,"M 7.1 - 47 km ESE of Pedro Bay, Alaska",7.1,NaT,7,7,green,1,1496,ak,0,0.000000,0.00,mw,125.600,59.6204,-153.339,Pedro Bay,Alaska,North America
290,"M 6.9 - Fox Islands, Aleutian Islands, Alaska",6.9,NaT,4,7,green,1,734,us,0,0.444000,39.00,mww,29.000,52.3760,-169.446,Fox Islands,"Aleutian Islands, Alaska",NaN
296,"M 6.8 - 117 km SSE of Ugashik, Alaska",6.8,NaT,5,6,green,1,762,ak,0,0.000000,0.00,mw,72.600,56.5940,-156.430,Ugashik,Alaska,NaN
327,"M 6.7 - 43 km NW of Piti Village, Guam",6.7,NaT,5,5,green,1,724,us,0,0.460000,11.00,mww,130.000,13.7641,144.429,Piti Village,Guam,NaN
336,"M 7.9 - Rat Islands, Aleutian Islands, Alaska",7.9,NaT,6,8,green,1,963,us,0,0.133000,22.00,mww,109.000,51.8486,178.735,Rat Islands,"Aleutian Islands, Alaska",North America
382,"M 7.0 - 101 km SW of Atka, Alaska",7.0,NaT,5,6,green,0,758,us,0,0.624000,53.00,mww,29.000,51.5370,-175.230,Atka,Alaska,NaN
395,"M 6.8 - Pagan region, Northern Mariana Islands",6.8,NaT,0,3,green,0,711,us,131,0.000000,18.00,mww,602.200,18.7280,145.288,Pagan region,Northern Mariana Islands,NaN
618,"M 6.7 - 14 km SW of Puako, Hawaii",6.7,NaT,8,9,NaN,0,1481,hv,43,0.000000,124.00,md,38.182,19.8770,-155.935,Puako,Hawaii,NaN
651,"M 7.2 - 153 km W of Big Lagoon, California",7.2,NaT,5,4,NaN,0,1318,us,420,0.000000,31.40,mwc,16.000,41.2920,-125.953,Big Lagoon,California,NaN
701,"M 6.5 - 10 km NE of San Simeon, California",6.5,NaT,7,9,NaN,0,1390,nc,65,0.046850,71.00,mw,8.382,35.7005,-121.101,San Simeon,California,North America
732,"M 6.6 - 53 km ENE of Cantwell, Alaska",6.6,NaT,0,7,NaN,0,670,ak,0,0.000000,0.00,mw,4.200,63.5144,-147.912,Cantwell,Alaska,North America
737,"M 6.5 - 114 km SSE of San Jose Village, Northe...",6.5,NaT,0,4,NaN,0,650,us,260,0.000000,0.00,mwc,30.000,14.1010,146.199,San Jose Village,Northern Mariana Islands,NaN
742,"M 7.1 - 20 km SSW of Merizo Village, Guam",7.1,NaT,0,7,NaN,0,776,us,257,0.000000,0.00,mwc,85.700,13.0880,144.619,Merizo Village,Guam,NaN
762,"M 6.6 - 74 km S of Kokhanok, Alaska",6.6,NaT,6,6,NaN,0,754,ak,0,0.000000,0.00,mw,131.800,58.7750,-154.701,Kokhanok,Alaska,North America
771,"M 6.8 - 7 km SSE of Longbranch, Washington",6.8,NaT,7,7,NaN,0,1441,uw,67,0.000000,31.00,md,51.798,47.1490,-122.727,Longbranch,Washington,North America

In [677]:
# Replacements for the 'location' column
location_replacements = {
    'Nikolski': 'Nikolski, Alaska',
    'Chignik': 'Chignik, Alaska',
    'Perryville': 'Perryville, Missouri',
    'Sand Point': 'Sand Point, Idaho',
    'Stanley': 'Stanley, Idaho',
    'Searles Valley': 'Searles Valley, California',
    'Point MacKenzie': 'Point MacKenzie, Alaska',
    'Adak': 'Adak, Alaska',
    'Chiniak': 'Chiniak, Alaska',
    'Attu Station': 'Attu Station, Alaska',
    'Ferndale': 'Ferndale, Washington',
    'Pedro Bay': 'Pedro Bay, Alaska',
    'Ugashik': 'Ugashik, Alaska',
    'Piti Village': 'Piti Village, Guam',
    'Indianola': 'Indianola, Lowa',
    'Atka': 'Atka, Alaska',
    'Edna Bay': 'Edna Bay, Alaska',
    'Big Lagoon': 'Big Lagoon, Florida',
    'San Simeon': 'San Simeon, California',
    'Cantwell': 'Cantwell, Alaska',
    'Merizo Village': 'Merizo Village, Guam',
    'Inarajan Village': 'Inarajan Village, Guam',
    'Kokhanok': 'Kokhanok, Alaska',
    'Old Harbor': 'Old Harbor, Alaska',
    'Monte Cristo Range': 'Monte Cristo Range, Nevada',
    'Leilani Estates': 'Leilani Estates, Hawaii',
    'Puako': 'Puako, Hawaii',
    'Pagan region': 'Pagan region, Northern Mariana Islands',
    'Fox Islands': 'Fox Islands, Alaska',
    'Rat Islands': 'Rat Islands, Alaska',
    'San Jose Village': 'San Jose Village, Northern Mariana Islands',
    'Longbranch': 'Longbranch, Washington'
}

# Replace specific values in 'location'
df1['location'] = df1['location'].replace(location_replacements)

# Replace specific values in 'country'
country_replacements = {'Alaska': 'USA', 'California': 'USA', 'Guam': 'USA', 'Idaho': 'USA', 'NV Earthquake': 'USA', 'Hawaii': 'USA',
                        'Northern Mariana Islands': 'USA', 'Aleutian Islands, Alaska': 'USA', 'Washington': 'USA'}
df1['country'] = df1['country'].replace(country_replacements)

# Update 'continent' column to 'North America' wherever 'country' is 'USA' for df1
df1.loc[df1['country'] == 'USA', 'continent'] = 'North America'

print("Updated 'location' and 'country' columns in df1:")
print(df1[['location', 'country']].head())

Updated 'location' and 'country' columns in df1:
            location           country
3             Neiafu             Tonga
5   the Fiji Islands
6   the Fiji Islands
13          Kainantu  Papua New Guinea
14          Kangding             China

In [678]:
# Define the list of countries to filter
countries_to_filter = ['New Caledonia', 'Wallis and Futuna', 'South Sandwich Islands', 'Svalbard and Jan Mayen', 'Martinique', 'Democratic Republic', 'Cayman Islands']

# Filter rows
filtered_df1 = df1[df1['country'].isin(countries_to_filter)]

print("Rows in df1 with 'country' column matching specified values:")
display(filtered_df1)

Rows in df1 with 'country' column matching specified values:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
133,"M 6.5 - 83km ENE of Bristol Island, South Sand...",6.5,2019-04-09 17:53:00,0,5,green,1,650,us,0,7.568,18.0,mww,38.00,-58.6262,-25.3040,Bristol Island,South Sandwich Islands,NaN
145,"M 6.6 - 199 km ESE of Tadine, New Caledonia",6.6,2018-12-05 06:43:00,0,4,green,1,670,us,0,2.679,31.0,mww,10.00,-22.0629,169.7330,Tadine,New Caledonia,NaN
146,"M 7.5 - 166 km ESE of Tadine, New Caledonia",7.5,2018-12-05 04:18:00,3,6,green,1,871,us,0,2.405,18.0,mww,10.00,-21.9496,169.4270,Tadine,New Caledonia,NaN
149,"M 6.7 - 120 km NW of Olonkinbyen, Svalbard and...",6.7,2018-11-09 01:49:00,3,4,green,1,693,us,0,7.853,19.0,mww,10.00,71.6312,-11.2431,Olonkinbyen,Svalbard and Jan Mayen,NaN
193,"M 6.6 - 101 km E of Tadine, New Caledonia",6.6,2017-11-01 02:23:00,3,5,green,1,674,us,0,0.788,29.0,mww,22.00,-21.6484,168.8590,Tadine,New Caledonia,NaN
466,"M 6.8 - 124 km NE of W, New Caledonia",6.8,2011-05-10 08:55:00,4,5,NaN,0,734,us,519,0.000,12.5,mww,11.00,-20.2440,168.2260,W,New Caledonia,NaN
639,"M 6.8 - 76 km ESE of Kalemie, Democratic Repub...",6.8,2005-12-05 12:19:00,5,7,NaN,0,744,us,561,0.000,20.0,mwc,22.00,-6.2240,29.8300,Kalemie,Democratic Republic,Africa
23,"M 6.9 - 284 km ESE of Tadine, New Caledonia",6.9,NaT,6,4,green,1,738,us,0,2.697,42.0,mww,10.00,-22.7200,170.2770,Tadine,New Caledonia,NaN
64,"M 6.5 - 265 km SSE of Alo, Wallis and Futuna",6.5,NaT,5,7,green,1,652,us,0,4.518,44.0,mww,10.00,-16.4796,-177.3560,Alo,Wallis and Futuna,NaN
118,"M 6.6 - 131km S of Bristol Island, South Sandw...",6.6,NaT,0,4,green,1,670,us,0,12.896,19.0,mww,16.00,-60.2152,-26.5801,Bristol Island,South Sandwich Islands,NaN
154,"M 6.5 - 171 km E of Tadine, New Caledonia",6.5,NaT,0,4,green,1,650,us,0,2.109,22.0,mww,17.00,-21.7427,169.5220,Tadine,New Caledonia,NaN
165,"M 7.1 - 238 km ESE of Tadine, New Caledonia",7.1,NaT,2,5,green,1,776,us,0,2.548,23.0,mww,21.43,-22.0295,170.1260,Tadine,New Caledonia,NaN
187,"M 7.0 - 85 km ENE of Tadine, New Caledonia",7.0,NaT,4,6,green,1,771,us,0,0.617,14.0,mww,10.00,-21.3246,168.6710,Tadine,New Caledonia,NaN
188,"M 6.6 - 74 km E of Tadine, New Caledonia",6.6,NaT,4,5,green,1,676,us,0,0.529,21.0,mww,13.00,-21.5027,168.5980,Tadine,New Caledonia,NaN
194,"M 6.7 - 132 km E of Tadine, New Caledonia",6.7,NaT,3,4,green,1,691,us,0,1.062,55.0,mww,24.00,-21.6971,169.1480,Tadine,New Caledonia,NaN
309,"M 6.5 - 181 km SSW of Alo, Wallis and Futuna",6.5,NaT,0,5,green,1,650,us,0,3.702,42.0,mww,10.00,-15.8815,-178.6000,Alo,Wallis and Futuna,NaN
334,"M 6.7 - 201 km SSE of Mata-Utu, Wallis and Futuna",6.7,NaT,0,5,green,1,691,us,0,6.713,45.0,mww,18.00,-14.9831,-175.5100,Mata-Utu,Wallis and Futuna,NaN
481,"M 7.0 - 118 km NNE of Tadine, New Caledonia",7.0,NaT,2,5,NaN,0,755,us,578,0.000,13.3,mww,9.00,-20.6280,168.4710,Tadine,New Caledonia,NaN
577,"M 7.4 - 18 km WNW of Basse-Pointe, Martinique",7.4,NaT,7,7,NaN,0,1542,us,663,0.000,13.4,mwb,156.00,14.9440,-61.2740,Basse-Pointe,Martinique,NaN
670,"M 6.8 - 36 km S of George Town, Cayman Islands",6.8,NaT,5,6,NaN,0,858,us,639,0.000,21.8,mwb,10.00,18.9580,-81.4090,George Town,Cayman Islands,NaN
698,"M 7.3 - 201 km ESE of Tadine, New Caledonia",7.3,NaT,0,4,NaN,0,820,us,235,0.000,46.6,mwc,10.00,-22.0150,169.7660,Tadine,New Caledonia,NaN

In [679]:
# Replacements for the 'location' column
location_replacements = {
    'Bristol Island': 'Bristol Island, South Sandwich Islands	',
    'Tadine': 'Tadine, Mar Island',
    'Olonkinbyen': 'Olonkinbyen, Svalbard and Jan Mayen',
    'W': 'W, Loyalty Islands Province',
    'Basse-Pointe': 'Basse-Pointe, Martinique'
}

# Replace specific values in 'location'
df1['location'] = df1['location'].replace(location_replacements)

# Replace specific values in 'country'
country_replacements = {'South Sandwich Islands': 'United Kindom', 'Svalbard and Jan Mayen': 'Norway', 'Democratic Republic': 'Democratic Republic of Congo',
                        'Martinique': 'France'}
df1['country'] = df1['country'].replace(country_replacements)

continent_updates = {
    'United Kingdom': 'Europe',
    'Norway': 'Europe',
    'Democratic Republic of Congo': 'Africa',
    'France': 'Europe',
    'Wallis and Futuna': 'Oceania',
    'New Caledonia': 'Oceania',
    'Cayman Islands': 'North America'
}

# Update the 'continent'
df1['continent'] = df1['country'].map(continent_updates).fillna(df1['continent'])

print("Updated 'location' and 'country' columns in df1:")
display(df1.head(15))

Updated 'location' and 'country' columns in df1:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865000,21.0,mww,37.000,-19.2918,-172.1290,Neiafu,Tonga,NaN
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578000,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,,NaN
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678000,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158000,12.0,mww,116.000,-6.2237,146.4710,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454000,34.0,mww,12.000,29.7263,102.2790,Kangding,China,Asia
17,"M 6.5 - 107 km SSW of Tarauac, Brazil",6.5,2022-06-08 00:55:00,3,2,green,0,653,us,236,1.999000,31.0,mww,622.730,-9.0618,-71.1647,Tarauac,Brazil,South America
20,M 6.8 - 86 km NNW of San Antonio de los Cobres...,6.8,2022-05-10 23:06:00,6,5,green,1,762,us,162,1.505000,30.0,mww,220.000,-23.6141,-66.7236,San Antonio de los Cobres,Argentina,South America
27,"M 6.6 - Kermadec Islands, New Zealand",6.6,2022-03-02 12:52:00,2,7,green,1,670,us,0,0.827000,46.0,mww,24.000,-30.0528,-177.7400,Kermadec Islands,New Zealand,NaN
29,"M 6.5 - 49 km NW of Barranca, Peru",6.5,2022-02-03 15:58:00,8,6,green,0,690,us,0,3.026000,22.0,mww,110.000,-4.4550,-76.9395,Barranca,Peru,South America
34,"M 6.6 - 53 km SE of Nikolski, Alaska",6.6,2022-01-11 12:39:00,8,5,green,1,674,us,0,0.507000,49.0,mww,19.000,52.6252,-168.1500,"Nikolski, Alaska",USA,North America
32,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,at,97,1.616070,108.0,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
33,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,pt,23,0.000000,208.8,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
35,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,at,50,0.936943,126.0,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
36,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,pt,20,0.000000,205.2,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
37,"M 6.8 - 100 km SE of Nikolski, Alaska",6.8,2022-01-11 11:35:00,7,6,green,1,730,us,0,0.920000,61.0,mww,20.000,52.6563,-167.9170,"Nikolski, Alaska",USA,North America

In [680]:
# list of countries to filter
countries_to_filter = ['Russia region', 'New Zealand region', 'India region', 'Japan region', 'Baja California, Mexico']

# Filter rows
filtered_df1 = df1[df1['country'].isin(countries_to_filter)]

print("Rows in df1 with 'country' column matching specified values:")
display(filtered_df1)

Rows in df1 with 'country' column matching specified values:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
202,"M 6.6 - Auckland Islands, New Zealand region",6.6,2017-07-11 07:00:00,5,4,green,1,704,us,0,3.7730,37.0,mww,10.000,-49.4837,164.016,Auckland Islands,New Zealand region,NaN
275,"M 6.6 - Nicobar Islands, India region",6.6,2015-11-08 16:47:00,7,4,green,0,675,us,0,2.7920,31.0,mww,10.000,6.8431,94.648,Nicobar Islands,India region,NaN
380,"M 6.5 - Izu Islands, Japan region",6.5,2013-09-04 00:18:00,5,3,green,0,739,us,0,3.2760,26.0,mww,402.000,29.9377,138.833,Izu Islands,Japan region,NaN
501,"M 7.5 - Nicobar Islands, India region",7.5,2010-06-12 19:26:00,6,5,NaN,0,1144,us,514,0.0000,18.6,mwc,35.000,7.8810,91.936,Nicobar Islands,India region,NaN
507,"M 7.2 - 12km SW of Delta, B.C., MX",7.2,2010-04-04 22:40:00,9,9,red,0,2910,ci,10,0.5137,239.0,mw,9.987,32.2862,-115.295,Delta,"Baja California, Mexico",North America
201,"M 7.7 - Komandorskiye Ostrova, Russia region",7.7,NaT,8,7,green,1,918,us,0,3.5640,13.0,mww,10.000,54.4434,168.857,Komandorskiye Ostrova,Russia region,NaN
294,"M 6.5 - Bonin Islands, Japan region",6.5,NaT,3,4,green,0,652,us,0,2.2770,11.0,mww,460.000,27.7375,139.725,Bonin Islands,Japan region,NaN
295,"M 7.8 - Bonin Islands, Japan region",7.8,NaT,6,3,green,1,1151,us,0,1.6750,12.0,mww,664.000,27.8386,140.493,Bonin Islands,Japan region,NaN
648,"M 7.2 - Nicobar Islands, India region",7.2,NaT,4,5,NaN,0,808,us,636,0.0000,26.4,mwc,16.000,7.9200,92.190,Nicobar Islands,India region,NaN
666,"M 6.6 - Nicobar Islands, India region",6.6,NaT,0,5,NaN,0,670,us,353,0.0000,31.9,mwc,16.100,8.8790,92.375,Nicobar Islands,India region,NaN

In [681]:
# Replacements for the 'location' column
location_replacements = {
    'Delta': 'Delta, Baja California',
    'Komandorskiye Ostrova': 'Komandorskiye Ostrova (Commander Islands)',
    'Bonin Islands': 'Bonin Islands, Ogasawara Islands',
    'Imph?l': 'Imphal, Manipur',
    'Mangan': 'Mangan, Sikkim',
    'Bhach?u': 'Bhachau, Kachchh, Gujarat',
    '?funato': 'funato',
    'Shizunai-furukawach?': 'Shizunai furukawach',
    '?alabja': 'Halabja',
    'Ashk?sham': 'Ishkashim',
    '?tsuchi': 'Thoku',
    '?arai': 'Arai',
    '?yama': 'Yamada',
    'Muzaffar?b?d': 'Muzaffarabad',
    'Shing?': 'Shing',
    'Sultanda??': 'Sultanda',
    'Do?anyol': 'Doanyol',
    'Kod?ri??': 'Kodari',
    'Kh?sh': 'Khash',
    'Maebaru-ch??': 'Maebaru-ch'
}

# Replace specific values in 'location'
df1['location'] = df1['location'].replace(location_replacements)

# Replace specific values in 'country'
country_replacements = {'New Zealand region': 'New Zealand', 'India region': 'India', 'Baja California, Mexico': 'Mexico', 'Russia region': 'Russia', 'Japan Region': 'Japan'}
df1['country'] = df1['country'].replace(country_replacements)

continent_updates = {
    'India': 'Asia',
    'Japan': 'Asia',
    'Russia': 'Asia',
    'New Zealand': 'Oceania',
    'Mexico': 'North America'
}

# Update the 'continent'
df1['continent'] = df1['country'].map(continent_updates).fillna(df1['continent'])

print("Updated 'location' and 'country' columns in df1:")
display(df1.head(15))

Updated 'location' and 'country' columns in df1:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865000,21.0,mww,37.000,-19.2918,-172.1290,Neiafu,Tonga,NaN
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578000,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,,NaN
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678000,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158000,12.0,mww,116.000,-6.2237,146.4710,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454000,34.0,mww,12.000,29.7263,102.2790,Kangding,China,Asia
17,"M 6.5 - 107 km SSW of Tarauac, Brazil",6.5,2022-06-08 00:55:00,3,2,green,0,653,us,236,1.999000,31.0,mww,622.730,-9.0618,-71.1647,Tarauac,Brazil,South America
20,M 6.8 - 86 km NNW of San Antonio de los Cobres...,6.8,2022-05-10 23:06:00,6,5,green,1,762,us,162,1.505000,30.0,mww,220.000,-23.6141,-66.7236,San Antonio de los Cobres,Argentina,South America
27,"M 6.6 - Kermadec Islands, New Zealand",6.6,2022-03-02 12:52:00,2,7,green,1,670,us,0,0.827000,46.0,mww,24.000,-30.0528,-177.7400,Kermadec Islands,New Zealand,Oceania
29,"M 6.5 - 49 km NW of Barranca, Peru",6.5,2022-02-03 15:58:00,8,6,green,0,690,us,0,3.026000,22.0,mww,110.000,-4.4550,-76.9395,Barranca,Peru,South America
34,"M 6.6 - 53 km SE of Nikolski, Alaska",6.6,2022-01-11 12:39:00,8,5,green,1,674,us,0,0.507000,49.0,mww,19.000,52.6252,-168.1500,"Nikolski, Alaska",USA,North America
32,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,at,97,1.616070,108.0,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
33,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,pt,23,0.000000,208.8,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
35,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,at,50,0.936943,126.0,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
36,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,pt,20,0.000000,205.2,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
37,"M 6.8 - 100 km SE of Nikolski, Alaska",6.8,2022-01-11 11:35:00,7,6,green,1,730,us,0,0.920000,61.0,mww,20.000,52.6563,-167.9170,"Nikolski, Alaska",USA,North America

In [682]:
# Filter rows where any column contains '?'
rows_with_question_mark = df1[df1.apply(lambda row: row.astype(str).str.contains(r'\?', na=False).any(), axis=1)]

print("Rows with '?' in any column:")
display(rows_with_question_mark)

Rows with '?' in any column:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
190,"M 7.3 - 29 km S of ?alabja, Iraq",7.3,2017-11-12 18:18:00,8,9,red,0,2790,us,0,0.284,33.0,mww,19.00,34.9109,45.9592,Halabja,Iraq,Asia
253,"M 6.6 - 42 km WSW of Ashk?sham, Afghanistan",6.6,2016-04-10 10:28:00,6,4,green,0,738,us,0,0.789,17.0,mww,212.00,36.4725,71.1311,Ishkashim,Afghanistan,Asia
263,"M 6.7 - 29 km W of Imph?l, India",6.7,2016-01-03 23:05:00,8,7,orange,0,1515,us,0,1.794,16.0,mww,55.00,24.8036,93.6505,"Imphal, Manipur",India,Asia
300,"M 6.8 - 32 km SE of ?funato, Japan",6.8,2015-05-12 21:12:00,8,6,green,1,831,us,0,1.422,8.0,mww,35.00,38.9056,142.0320,funato,Japan,Asia
420,"M 7.3 - 234 km SE of ?funato, Japan",7.3,2012-12-07 08:18:00,6,5,NaN,0,1014,us,918,0.000,14.8,mww,31.00,37.8900,143.9490,funato,Japan,Asia
472,"M 6.6 - 50 km ESE of ?tsuchi, Japan",6.6,2011-03-11 11:36:00,6,5,NaN,0,673,us,668,0.000,9.5,ms,25.70,39.2410,142.4630,Thoku,Japan,Asia
475,"M 7.9 - 47 km E of ?arai, Japan",7.9,2011-03-11 06:15:00,8,7,NaN,0,1140,us,163,0.000,48.4,mwc,42.60,36.2810,141.1110,Arai,Japan,Asia
477,"M 7.3 - 120 km SE of ?funato, Japan",7.3,2011-03-09 02:45:00,5,5,NaN,0,972,us,550,0.000,17.4,mww,32.00,38.4350,142.8420,funato,Japan,Asia
540,"M 7.1 - 161 km S of ?yama, Japan",7.1,2009-08-09 10:55:00,5,4,NaN,0,1005,us,447,0.000,14.2,mwc,292.00,33.1670,137.9440,Yamada,Japan,Asia
638,"M 6.5 - 53 km SW of Ashk?sham, Afghanistan",6.5,2005-12-12 21:47:00,6,5,NaN,0,721,us,529,0.000,20.5,mwb,224.60,36.3570,71.0930,Ishkashim,Afghanistan,Asia
643,"M 7.6 - 21 km NNE of Muzaffar?b?d, Pakistan",7.6,2005-10-08 03:50:00,9,9,NaN,0,1267,us,724,0.000,21.1,mwc,26.00,34.5390,73.5880,Muzaffarabad,Pakistan,Asia
684,"M 6.6 - 129 km ESE of Shing?, Japan",6.6,2004-09-06 23:29:00,0,4,NaN,0,670,us,478,0.000,29.8,mwc,10.00,33.2050,137.2270,Shing,Japan,Asia
685,"M 7.4 - 118 km ESE of Shing?, Japan",7.4,2004-09-05 14:57:00,0,5,NaN,0,842,us,594,0.000,27.5,mwb,10.00,33.1840,137.0710,Shing,Japan,Asia
686,"M 7.2 - 94 km SE of Shing?, Japan",7.2,2004-09-05 10:07:00,0,5,NaN,0,798,us,643,0.000,28.4,mwc,14.00,33.0700,136.6180,Shing,Japan,Asia
750,"M 6.5 - 5 km NE of Sultanda??, Turkey",6.5,2002-02-03 07:11:00,0,7,NaN,0,650,us,482,0.000,0.0,mwc,5.00,38.5730,31.2710,Sultanda,Turkey,Asia
108,"M 6.7 - 13 km N of Do?anyol, Turkey",6.7,NaT,8,9,orange,0,1247,us,0,0.870,49.0,mww,10.00,38.4312,39.0609,Doanyol,Turkey,Asia
261,"M 6.7 - 52 km SE of Shizunai-furukawach?, Japan",6.7,NaT,5,6,green,1,717,us,0,0.281,22.0,mww,46.00,41.9723,142.7810,Shizunai furukawach,Japan,Asia
306,"M 6.7 - 21 km SSE of Kod?ri??, Nepal",6.7,NaT,7,7,yellow,0,1016,us,0,0.727,13.0,mww,22.91,27.7711,86.0173,Kodari,Nepal,Asia
400,"M 7.7 - 79 km ESE of Kh?sh, Iran",7.7,NaT,8,8,yellow,0,1421,us,506,0.000,26.6,mww,80.00,28.0330,61.9960,Khash,Iran,Asia
658,"M 6.6 - 28 km NNW of Maebaru-ch??, Japan",6.6,NaT,8,7,NaN,0,805,us,401,0.000,22.9,mwc,10.00,33.8070,130.1310,Maebaru-ch,Japan,Asia
711,"M 7.4 - 119 km ESE of Shizunai-furukawach?, Japan",7.4,NaT,0,7,NaN,0,842,us,514,0.000,78.8,mwc,33.00,41.7740,143.5930,Shizunai furukawach,Japan,Asia
721,"M 7.0 - 27 km SSW of ?funato, Japan",7.0,NaT,0,7,NaN,0,754,us,690,0.000,19.1,mwb,68.00,38.8490,141.5680,funato,Japan,Asia
775,"M 7.7 - 17 km NW of Bhach?u, India",7.7,NaT,0,9,NaN,0,912,us,472,0.000,0.0,mwc,16.00,23.4190,70.2320,"Bhachau, Kachchh, Gujarat",India,Asia

In [683]:
import re

escaped_terms_to_replace = {re.escape(k): v for k, v in {
    'Delta': 'Delta, Baja California',
    'Komandorskiye Ostrova': 'Komandorskiye Ostrova (Commander Islands)',
    'Bonin Islands': 'Bonin Islands, Ogasawara Islands',
    'Imph?l': 'Imphal, Manipur',
    'Mangan': 'Mangan, Sikkim',
    'Bhach?u': 'Bhachau, Kachchh, Gujarat',
    '?funato': 'funato',
    'Shizunai-furukawach?': 'Shizunai furukawach',
    '?alabja': 'Halabja',
    'Ashk?sham': 'Ishkashim',
    '?tsuchi': 'Thoku',
    '?arai': 'Arai',
    '?yama': 'Yamada',
    'Muzaffar?b?d': 'Muzaffarabad',
    'Shing?': 'Shing',
    'Sultanda??': 'Sultanda',
    'Do?anyol': 'Doanyol',
    'Kod?ri??': 'Kodari',
    'Kh?sh': 'Khash',
    'Maebaru-ch??': 'Maebaru-ch'
}.items()}

df1 = df1.replace(escaped_terms_to_replace, regex=True)

In [684]:
# Dictionary for country-to-continent mapping
country_to_continent = {
    "Solomon Islands": "Oceania",
    "Indonesia": "Asia",
    "Tonga": "Oceania",
    "Panama": "North America",
    "Mexico": "North America",
    "Taiwan": "Asia",
    "Vanuatu": "Oceania",
    "Papua New Guinea": "Oceania",
    "China": "Asia",
    "Philippines": "Asia",
    "Brazil": "South America",
    "Peru": "South America",
    "Argentina": "South America",
    "Nicaragua": "North America",
    "Japan": "Asia",
    "New Zealand": "Oceania",
    "Cyprus": "Asia",
    "Timor Leste": "Asia",
    "Haiti": "North America",
    "Russia": "Asia",
    "Mongolia": "Asia",
    "Chile": "South America",
    "Greece": "Europe",
    "Jamaica": "North America",
    "Turkey": "Asia",
    "Fiji": "Oceania",
    "Australia": "Oceania",
    "El Salvador": "North America",
    "Ecuador": "South America",
    "Canada": "North America",
    "Venezuela": "South America",
    "Bolivia": "South America",
    "Honduras": "North America",
    "Costa Rica": "North America",
    "Iraq": "Asia",
    "Guatemala": "North America",
    "Botswana": "Africa",
    "Tajikistan": "Asia",
    "Italy": "Europe",
    "Myanmar": "Asia",
    "Afghanistan": "Asia",
    "India": "Asia",
    "Barbados": "North America",
    "Nepal": "Asia",
    "Pakistan": "Asia",
    "Colombia": "South America",
    "Iran": "Asia",
    "Samoa": "Oceania",
    "Kyrgyzstan": "Asia",
    "Zimbabwe": "Africa",
    "Algeria": "Africa"
}

df1['continent'] = df1['country'].map(country_to_continent).fillna(df1['continent'])

display(df1.head(20))

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865000,21.0,mww,37.000,-19.2918,-172.1290,Neiafu,Tonga,Oceania
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578000,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,,NaN
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678000,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,,NaN
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158000,12.0,mww,116.000,-6.2237,146.4710,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454000,34.0,mww,12.000,29.7263,102.2790,Kangding,China,Asia
17,"M 6.5 - 107 km SSW of Tarauac, Brazil",6.5,2022-06-08 00:55:00,3,2,green,0,653,us,236,1.999000,31.0,mww,622.730,-9.0618,-71.1647,Tarauac,Brazil,South America
20,M 6.8 - 86 km NNW of San Antonio de los Cobres...,6.8,2022-05-10 23:06:00,6,5,green,1,762,us,162,1.505000,30.0,mww,220.000,-23.6141,-66.7236,San Antonio de los Cobres,Argentina,South America
27,"M 6.6 - Kermadec Islands, New Zealand",6.6,2022-03-02 12:52:00,2,7,green,1,670,us,0,0.827000,46.0,mww,24.000,-30.0528,-177.7400,Kermadec Islands,New Zealand,Oceania
29,"M 6.5 - 49 km NW of Barranca, Peru",6.5,2022-02-03 15:58:00,8,6,green,0,690,us,0,3.026000,22.0,mww,110.000,-4.4550,-76.9395,Barranca,Peru,South America
34,"M 6.6 - 53 km SE of Nikolski, Alaska",6.6,2022-01-11 12:39:00,8,5,green,1,674,us,0,0.507000,49.0,mww,19.000,52.6252,-168.1500,"Nikolski, Alaska",USA,North America
32,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,at,97,1.616070,108.0,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
33,"M 6.5 - 71 km SE of Nikolski, Alaska",6.5,2022-01-11 12:39:00,0,3,NaN,1,650,pt,23,0.000000,208.8,Mi,37.000,52.5020,-168.0800,"Nikolski, Alaska",USA,North America
35,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,at,50,0.936943,126.0,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
36,"M 6.7 - 91 km SE of Nikolski, Alaska",6.7,2022-01-11 11:35:00,0,4,NaN,1,691,pt,20,0.000000,205.2,Mi,33.000,52.4800,-167.7360,"Nikolski, Alaska",USA,North America
37,"M 6.8 - 100 km SE of Nikolski, Alaska",6.8,2022-01-11 11:35:00,7,6,green,1,730,us,0,0.920000,61.0,mww,20.000,52.6563,-167.9170,"Nikolski, Alaska",USA,North America
38,"M 6.6 - 48 km WNW of Plis, Cyprus",6.6,2022-01-11 01:07:00,6,6,green,0,976,us,0,1.168000,21.0,mww,21.000,35.1456,31.9095,Plis,Cyprus,Asia
39,"M 6.6 - northern Qinghai, China",6.6,2022-01-07 17:45:00,9,8,orange,0,1012,us,0,2.685000,13.0,mww,13.000,37.8167,101.2990,northern Qinghai,China,Asia
43,"M 6.6 - 177 km SE of Hirara, Japan",6.6,2021-11-10 15:45:00,7,4,green,1,688,us,0,3.259000,15.0,mww,12.000,23.5414,126.4800,Hirara,Japan,Asia
44,"M 6.9 - 112 km E of Chignik, Alaska",6.9,2021-10-11 09:10:00,8,6,green,1,995,ak,0,0.000000,0.0,mww,51.600,56.2581,-156.4920,"Chignik, Alaska",USA,North America
45,M 6.9 - Vanuatu region,6.9,2021-10-09 10:58:00,4,3,green,1,740,us,0,4.778000,31.0,mww,535.000,-21.1704,174.5400,Vanuatu region,,NaN

In [685]:
# Display rows where 'continent' is NaN
nan_continent_df1 = df1[df1['continent'].isna()]
print("Countries with 'NaN' continent in df1:")
print(nan_continent_df1[['country', 'continent']].drop_duplicates())

Countries with 'NaN' continent in df1:
           country continent
5                        NaN
133  United Kindom       NaN
380   Japan region       NaN

In [686]:
# Filter rows where 'continent' is NaN
nan_continent_df1 = df1[df1['continent'].isna()][['location', 'country', 'continent']]

print("Rows in df1 where 'continent' is NaN:")
display(nan_continent_df1.drop_duplicates())

Rows in df1 where 'continent' is NaN:

,location,country,continent
5,the Fiji Islands,,NaN
45,Vanuatu region,,NaN
56,South Sandwich Islands region,,NaN
67,Mauritius - Reunion region,,NaN
73,Kermadec Islands region,,NaN
78,the Loyalty Islands,,NaN
102,Banda Sea,,NaN
133,"Bristol Island, South Sandwich Islands\t",United Kindom,NaN
140,Molucca Sea,,NaN
325,Fiji region,,NaN
329,Micronesia region,,NaN
363,the Kermadec Islands,,NaN
374,Okhotsk,,NaN
380,Izu Islands,Japan region,NaN
440,off the west coast of northern Sumatra,,NaN
566,Philippine Islands region,,NaN
715,Scotia Sea,,NaN
79,South Shetland Islands,,NaN
85,central Mid-Atlantic Ridge,,NaN
137,Prince Edward Islands region,,NaN
186,Bouvet Island region,,NaN
294,"Bonin Islands, Ogasawara Islands, Ogasawara Is...",Japan region,NaN
389,northern Mid-Atlantic Ridge,,NaN
425,Costa Rica,,NaN
609,S,,NaN
611,the Kuril Islands,,NaN
614,Kuril Islands,,NaN
668,2004 Sumatra - Andaman Islands Earthquake,,NaN
669,Macquarie Island,,NaN

In [687]:
# Mapping location to country and continent
location_country_continent = {
    'the Fiji Islands': ('Fiji', 'Oceania'),
    'Vanuatu region': ('Vanuatu', 'Oceania'),
    'South Sandwich Islands region': ('British Overseas Territory', 'South America'),
    'Mauritius - Reunion region': ('Mauritius', 'Africa'),  # Add Runion separately
    'Kermadec Islands region': ('New Zealand', 'Oceania'),
    'the Loyalty Islands': ('New Caledonia', 'Oceania'),
    'Banda Sea': ('Indonesia', 'Asia'),
    'Bristol Island, South Sandwich Islands': ('United Kingdom', 'Europe'),
    'Molucca Sea': ('Indonesia', 'Asia'),
    'Fiji region': ('Fiji', 'Oceania'),
    'Micronesia region': ('Micronesia', 'Oceania'),
    'the Kermadec Islands': ('New Zealand', 'Oceania'),
    'Okhotsk': ('Russia and Japan', 'Asia'),
    'Izu Islands': ('Japan', 'Asia'),
    'off the west coast of northern Sumatra': ('Indonesia', 'Asia'),
    'Philippine Islands region': ('Philippines', 'Asia'),
    'Scotia Sea': (None, None),
    'South Shetland Islands': ('British Antarctic Territory', 'Antarctica'),
    'central Mid-Atlantic Ridge': ('Iceland', 'Europe'),
    'Prince Edward Islands region': ('South Africa', 'Africa'),
    'Bouvet Island region': ('Norway', 'Europe'),
    'Bonin Islands, Ogasawara Islands': ('Japan', 'Asia'),
    'northern Mid-Atlantic Ridge': (None, None),
    'Costa Rica': ('Costa Rica', 'North America'),
    'the Kuril Islands': ('Russia', 'Asia'),
    'Kuril Islands': ('Russia', 'Asia'),
    '2004 Sumatra - Andaman Islands Earthquake': (None, 'Asia'),
    'Macquarie Island': ('Australia', 'Oceania'),
}

def update_location_country_continent(df):
    for location, (country, continent) in location_country_continent.items():
        df.loc[df['location'] == location, 'country'] = country
        df.loc[df['location'] == location, 'continent'] = continent

update_location_country_continent(df1)

print("Updated rows in df1:")
display(df1[df1['location'].isin(location_country_continent.keys())])

Updated rows in df1:

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.3810,the Fiji Islands,Fiji,Oceania
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.3630,the Fiji Islands,Fiji,Oceania
45,M 6.9 - Vanuatu region,6.9,2021-10-09 10:58:00,4,3,green,1,740,us,0,4.778,31.0,mww,535.000,-21.1704,174.5400,Vanuatu region,Vanuatu,Oceania
46,M 7.3 - Vanuatu region,7.3,2021-10-02 06:29:00,4,4,green,1,826,us,0,4.493,32.0,mww,527.000,-21.1036,174.8950,Vanuatu region,Vanuatu,Oceania
56,M 8.1 - South Sandwich Islands region,8.1,2021-08-12 18:35:00,0,7,green,0,1009,us,0,7.463,78.0,mww,22.790,-58.4157,-25.3206,South Sandwich Islands region,British Overseas Territory,South America
57,M 7.5 - South Sandwich Islands region,7.5,2021-08-12 18:32:00,9,6,green,1,868,us,0,7.227,38.0,mww,47.230,-57.5959,-25.1874,South Sandwich Islands region,British Overseas Territory,South America
67,M 6.7 - Mauritius - Reunion region,6.7,2021-05-12 14:05:00,9,3,green,0,694,us,0,10.669,45.0,mww,10.000,-17.2495,66.3745,Mauritius - Reunion region,Mauritius,Africa
73,M 6.5 - Kermadec Islands region,6.5,2021-03-04 23:12:00,0,4,green,0,650,us,0,11.764,25.0,mwb,24.000,-28.4792,-176.6190,Kermadec Islands region,New Zealand,Oceania
78,M 7.7 - southeast of the Loyalty Islands,7.7,2021-02-10 13:19:00,9,4,green,1,918,us,0,7.989,15.0,mww,10.000,-23.2787,171.4890,the Loyalty Islands,New Caledonia,Oceania
102,M 6.8 - Banda Sea,6.8,2020-05-06 13:53:00,4,6,green,0,738,us,0,1.921,16.0,mww,96.000,-6.7762,129.7850,Banda Sea,Indonesia,Asia
140,M 6.6 - Molucca Sea,6.6,2019-01-06 17:27:00,2,4,green,1,672,us,0,1.596,33.0,mww,43.210,2.2580,126.7580,Molucca Sea,Indonesia,Asia
144,M 7.1 - South Sandwich Islands region,7.1,2018-12-11 02:26:00,0,5,green,1,776,us,0,7.043,20.0,mww,133.000,-58.5446,-26.3856,South Sandwich Islands region,British Overseas Territory,South America
161,M 6.9 - Kermadec Islands region,6.9,2018-09-10 04:19:00,3,4,green,0,735,us,0,2.785,18.0,mww,115.000,-31.7447,-179.3730,Kermadec Islands region,New Zealand,Oceania
208,M 6.5 - South Sandwich Islands region,6.5,2017-05-10 23:23:00,0,4,green,1,650,us,0,6.489,17.0,mww,15.000,-56.4140,-25.7432,South Sandwich Islands region,British Overseas Territory,South America
242,M 7.2 - southeast of the Loyalty Islands,7.2,2016-08-12 01:26:00,6,5,green,1,799,us,0,4.823,14.0,mww,16.370,-22.4765,173.1170,the Loyalty Islands,New Caledonia,Oceania
325,M 7.1 - Fiji region,7.1,2014-11-01 18:57:00,3,6,green,1,776,us,0,4.415,13.0,mww,434.000,-19.6903,-177.7590,Fiji region,Fiji,Oceania
329,M 6.9 - Federated States of Micronesia region,6.9,2014-08-03 00:22:00,0,4,green,1,732,us,0,6.393,12.0,mww,13.000,0.8295,146.1690,Micronesia region,Micronesia,Oceania
363,M 6.5 - south of the Kermadec Islands,6.5,2014-02-02 09:26:00,0,3,green,1,650,us,0,3.651,22.0,mww,44.260,-32.9076,-177.8810,the Kermadec Islands,New Zealand,Oceania
374,M 6.7 - Sea of Okhotsk,6.7,2013-10-01 03:38:00,0,3,green,0,691,us,0,2.958,11.0,mww,573.000,53.1995,152.7860,Okhotsk,Russia and Japan,Asia
380,"M 6.5 - Izu Islands, Japan region",6.5,2013-09-04 00:18:00,5,3,green,0,739,us,0,3.276,26.0,mww,402.000,29.9377,138.8330,Izu Islands,Japan,Asia
419,M 7.1 - Banda Sea,7.1,2012-12-10 16:53:00,5,5,NaN,0,843,us,517,0.000,8.7,mww,155.000,-6.5330,129.8250,Banda Sea,Indonesia,Asia
440,M 8.2 - off the west coast of northern Sumatra,8.2,2012-04-11 10:43:00,9,6,green,0,1213,us,341,0.000,14.9,mwc,25.100,0.8020,92.4630,off the west coast of northern Sumatra,Indonesia,Asia
441,M 8.6 - off the west coast of northern Sumatra,8.6,2012-04-11 08:38:00,9,7,yellow,0,2048,official,499,0.000,16.6,mw,20.000,2.3270,93.0630,off the west coast of northern Sumatra,Indonesia,Asia
448,M 7.2 - off the west coast of northern Sumatra,7.2,2012-01-10 18:36:00,4,4,NaN,0,838,us,443,0.000,17.0,mww,19.000,2.4330,93.2100,off the west coast of northern Sumatra,Indonesia,Asia
464,M 7.6 - Kermadec Islands region,7.6,2011-07-06 19:03:00,3,7,NaN,0,893,us,567,0.000,33.5,mww,17.000,-29.5390,-176.3400,Kermadec Islands region,New Zealand,Oceania
566,M 6.9 - Philippine Islands region,6.9,2008-03-03 14:11:00,4,5,NaN,0,740,us,544,0.000,25.9,mwc,24.000,13.3510,125.6300,Philippine Islands region,Philippines,Asia
659,M 7.1 - Banda Sea,7.1,2005-03-02 10:42:00,0,5,NaN,0,776,us,569,0.000,18.1,mwb,201.700,-6.5270,129.9330,Banda Sea,Indonesia,Asia
715,M 7.6 - Scotia Sea,7.6,2003-08-04 04:37:00,0,6,NaN,0,889,us,315,0.000,25.2,mwc,10.000,-60.5320,-43.4110,Scotia Sea,None,None
15,M 6.6 - south of the Kermadec Islands,6.6,NaT,7,6,green,1,672,us,68,5.293,34.0,mww,30.000,-32.6922,-178.9590,the Kermadec Islands,New Zealand,Oceania
22,M 7.0 - southeast of the Loyalty Islands,7.0,NaT,6,4,green,1,763,us,0,2.705,26.0,mww,10.000,-22.5732,170.3490,the Loyalty Islands,New Caledonia,Oceania
28,M 6.8 - south of the Fiji Islands,6.8,NaT,2,3,green,1,712,us,0,5.780,12.0,mww,535.000,-23.7852,-179.9680,the Fiji Islands,Fiji,Oceania
30,M 6.5 - Kermadec Islands region,6.5,NaT,7,4,green,1,651,us,0,1.088,57.0,mww,8.000,-29.5350,-176.7290,Kermadec Islands region,New Zealand,Oceania
49,M 7.1 - South Sandwich Islands region,7.1,NaT,1,4,green,1,776,us,0,9.799,32.0,mww,6.000,-60.3026,-24.9992,South Sandwich Islands region,British Overseas Territory,South America
50,M 6.6 - South Sandwich Islands region,6.6,NaT,1,3,green,1,670,us,0,8.865,19.0,mww,7.000,-60.1023,-24.4608,South Sandwich Islands region,British Overseas Territory,South America
52,M 6.9 - South Sandwich Islands region,6.9,NaT,6,4,green,1,734,us,0,8.363,48.0,mww,16.700,-58.3814,-23.3318,South Sandwich Islands region,British Overseas Territory,South America
79,M 6.9 - South Shetland Islands,6.9,NaT,9,5,green,1,739,us,0,1.550,16.0,mww,15.000,-61.8484,-55.5590,South Shetland Islands,British Antarctic Territory,Antarctica
85,M 6.9 - central Mid-Atlantic Ridge,6.9,NaT,0,3,green,1,732,us,0,11.255,16.0,mww,10.000,0.9604,-26.8332,central Mid-Atlantic Ridge,Iceland,Europe
88,M 6.5 - central Mid-Atlantic Ridge,6.5,NaT,4,5,green,0,651,us,0,15.394,31.0,mww,10.000,0.8696,-29.7046,central Mid-Atlantic Ridge,Iceland,Europe
97,M 7.4 - south of the Kermadec Islands,7.4,NaT,7,7,green,1,873,us,0,4.035,23.0,mww,10.000,-33.2938,-177.8380,the Kermadec Islands,New Zealand,Oceania
137,M 6.7 - Prince Edward Islands region,6.7,NaT,0,3,green,0,691,us,0,7.527,17.0,mww,13.000,-43.1219,42.3568,Prince Edward Islands region,South Africa,Africa
160,M 6.5 - south of the Fiji Islands,6.5,NaT,4,1,green,0,651,us,0,5.139,18.0,mww,576.000,-25.4150,178.1990,the Fiji Islands,Fiji,Oceania
186,M 6.5 - Bouvet Island region,6.5,NaT,1,5,green,1,651,us,0,17.654,23.0,mww,17.000,-54.2189,2.1628,Bouvet Island region,Norway,Europe
214,M 6.9 - south of the Fiji Islands,6.9,NaT,2,3,green,1,733,us,0,6.012,19.0,mww,414.500,-23.2593,-178.8040,the Fiji Islands,Fiji,Oceania
238,M 6.9 - Fiji region,6.9,NaT,2,3,green,1,733,us,0,4.051,9.0,mww,596.400,-19.7819,-178.2440,Fiji region,Fiji,Oceania
245,M 7.2 - South Sandwich Islands region,7.2,NaT,1,6,green,1,798,us,0,5.803,24.0,mww,78.000,-56.2409,-26.9353,South Sandwich Islands region,British Overseas Territory,South America
330,M 6.9 - Fiji region,6.9,NaT,0,6,green,1,732,us,0,3.934,15.0,mww,615.420,-19.8015,-178.4000,Fiji region,Fiji,Oceania
335,M 6.9 - South Sandwich Islands region,6.9,NaT,0,5,green,1,732,us,0,4.838,25.0,mww,8.000,-55.4703,-28.3669,South Sandwich Islands region,British Overseas Territory,South America
365,M 6.5 - Fiji region,6.5,NaT,3,4,green,0,651,us,0,5.194,22.0,mww,371.000,-17.1171,-176.5450,Fiji region,Fiji,Oceania
366,M 7.7 - Scotia Sea,7.7,NaT,1,8,green,1,912,us,0,8.050,23.0,mww,10.000,-60.2738,-46.4011,Scotia Sea,None,None
367,M 6.9 - Scotia Sea,6.9,NaT,0,5,green,1,732,us,0,8.284,17.0,mww,9.970,-60.2627,-47.0621,Scotia Sea,None,None
386,M 7.3 - South Sandwich Islands region,7.3,NaT,0,6,green,1,820,us,398,0.000,43.0,mww,11.000,-60.8570,-25.0700,South Sandwich Islands region,British Overseas Territory,South America
389,M 6.6 - northern Mid-Atlantic Ridge,6.6,NaT,0,7,green,1,670,us,111,0.000,16.0,mww,10.000,10.7010,-42.5940,northern Mid-Atlantic Ridge,None,None
392,M 6.7 - Sea of Okhotsk,6.7,NaT,0,3,green,1,691,us,217,0.000,25.2,mwb,624.000,52.2350,151.4440,Okhotsk,Russia and Japan,Asia
393,M 8.3 - Sea of Okhotsk,8.3,NaT,5,5,green,1,1115,us,385,0.000,10.0,mww,598.100,54.8920,153.2210,Okhotsk,Russia and Japan,Asia
425,M 6.5 - Costa Rica,6.5,NaT,6,6,NaN,0,745,us,691,0.000,34.4,mww,17.000,10.0860,-85.2980,Costa Rica,Costa Rica,North America
611,M 8.1 - east of the Kuril Islands,8.1,NaT,4,5,NaN,0,1034,us,606,0.000,14.0,mwc,10.000,46.2430,154.5240,the Kuril Islands,Russia,Asia
614,M 8.3 - Kuril Islands,8.3,NaT,4,7,NaN,0,1064,us,576,0.000,20.9,mwc,10.000,46.5920,153.2660,Kuril Islands,Russia,Asia
668,M 9.1 - 2004 Sumatra - Andaman Islands Earthquake,9.1,NaT,0,8,NaN,0,1274,official,601,0.000,22.0,mw,30.000,3.2950,95.9820,2004 Sumatra - Andaman Islands Earthquake,None,Asia
669,M 8.1 - north of Macquarie Island,8.1,NaT,0,5,NaN,0,1009,us,331,0.000,59.3,mwc,10.000,-49.3120,161.3450,Macquarie Island,Australia,Oceania

In [688]:
df1 = df1.dropna(subset=['continent'])

In [689]:
display(df1)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,Neiafu,Tonga,Oceania
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.381,the Fiji Islands,Fiji,Oceania
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.363,the Fiji Islands,Fiji,Oceania
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158,12.0,mww,116.000,-6.2237,146.471,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454,34.0,mww,12.000,29.7263,102.279,Kangding,China,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,"M 7.4 - 102 km SSE of Bengkulu, Indonesia",7.4,NaT,0,6,NaN,0,842,us,221,0.000,0.0,mwc,36.000,-4.6800,102.562,Bengkulu,Indonesia,Asia
774,"M 6.6 - 5 km S of Cojutepeque, El Salvador",6.6,NaT,0,8,NaN,0,670,us,273,0.000,0.0,mwc,10.000,13.6710,-88.938,Cojutepeque,El Salvador,North America
775,"M 7.7 - 17 km NW of Bhachau, Kachchh, Gujarat,...",7.7,NaT,0,9,NaN,0,912,us,472,0.000,0.0,mwc,16.000,23.4190,70.232,"Bhachau, Kachchh, Gujarat",India,Asia
776,"M 6.9 - 59 km WSW of Bengkulu, Indonesia",6.9,NaT,0,6,NaN,0,732,us,117,0.000,0.0,mwb,28.000,-4.0220,101.776,Bengkulu,Indonesia,Asia
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,NaT,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,Puerto El Triunfo,El Salvador,North America

In [690]:
# Display rows where 'date_time' is NaT
naT_rows = df1[df1['date_time'].isna()]

display(naT_rows)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,NaT,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.5960,Malango,Solomon Islands,Oceania
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,NaT,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.7380,Bengkulu,Indonesia,Asia
7,"M 6.7 - 60 km SSW of Boca Chica, Panama",6.7,NaT,7,6,green,1,797,us,145,1.151,37.0,mww,20.000,7.6712,-82.3396,Boca Chica,Panama,North America
8,"M 6.8 - 55 km SSW of Aguililla, Mexico",6.8,NaT,8,7,yellow,1,1179,us,175,2.137,92.0,mww,20.000,18.3300,-102.9130,Aguililla,Mexico,North America
9,"M 7.6 - 35 km SSW of Aguililla, Mexico",7.6,NaT,9,8,yellow,1,1799,us,271,1.153,69.0,mww,26.943,18.3667,-103.2520,Aguililla,Mexico,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,"M 7.4 - 102 km SSE of Bengkulu, Indonesia",7.4,NaT,0,6,NaN,0,842,us,221,0.000,0.0,mwc,36.000,-4.6800,102.5620,Bengkulu,Indonesia,Asia
774,"M 6.6 - 5 km S of Cojutepeque, El Salvador",6.6,NaT,0,8,NaN,0,670,us,273,0.000,0.0,mwc,10.000,13.6710,-88.9380,Cojutepeque,El Salvador,North America
775,"M 7.7 - 17 km NW of Bhachau, Kachchh, Gujarat,...",7.7,NaT,0,9,NaN,0,912,us,472,0.000,0.0,mwc,16.000,23.4190,70.2320,"Bhachau, Kachchh, Gujarat",India,Asia
776,"M 6.9 - 59 km WSW of Bengkulu, Indonesia",6.9,NaT,0,6,NaN,0,732,us,117,0.000,0.0,mwb,28.000,-4.0220,101.7760,Bengkulu,Indonesia,Asia
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,NaT,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.6600,Puerto El Triunfo,El Salvador,North America

In [691]:
# Drop rows where 'date_time' is NaT
df1 = df1.dropna(subset=['date_time'])

display(df1)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country,continent
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,Neiafu,Tonga,Oceania
5,M 7.0 - south of the Fiji Islands,7.0,2022-11-09 09:51:00,4,3,green,1,755,us,142,4.578,26.0,mwb,660.000,-26.0442,178.381,the Fiji Islands,Fiji,Oceania
6,M 6.8 - south of the Fiji Islands,6.8,2022-11-09 09:38:00,1,3,green,1,711,us,136,4.678,22.0,mww,630.379,-25.9678,178.363,the Fiji Islands,Fiji,Oceania
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",7.6,2022-09-10 23:47:00,8,8,yellow,1,965,us,272,3.158,12.0,mww,116.000,-6.2237,146.471,Kainantu,Papua New Guinea,Oceania
14,"M 6.6 - 44 km SE of Kangding, China",6.6,2022-09-05 04:52:00,9,8,orange,0,1043,us,141,8.454,34.0,mww,12.000,29.7263,102.279,Kangding,China,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,"M 6.6 - 31 km S of Achanizo, Peru",6.6,2001-07-05 13:53:00,0,7,NaN,0,670,us,324,0.000,0.0,mwc,62.000,-16.0860,-73.987,Achanizo,Peru,South America
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-01-10 16:02:00,5,7,NaN,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",USA,North America
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-01-09 16:49:00,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,Port-Olry,Vanuatu,Oceania
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01 08:54:00,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,Mindanao,Philippines,Asia
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01 06:57:00,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,Lukatan,Philippines,Asia

In [692]:
# Remove the 'continent' column from df1
df1 = df1.drop(columns=['continent'])
print(df1.columns)

Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami',
       'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'country'],
      dtype='object')

### Normalize in df1

In [693]:
df5=df1

In [694]:
from sklearn.preprocessing import MinMaxScaler

# List of columns to normalize
columns_to_normalize = ['magnitude', 'cdi', 'mmi', 'sig', 'nst', 'dmin', 'gap', 'depth']

# Initialize the scaler
scaler = MinMaxScaler()

# Apply Min-Max Scaling to the specified columns
df5[columns_to_normalize] = scaler.fit_transform(df5[columns_to_normalize])

# Verify the changes
display(df5)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",0.307692,2022-11-11 10:48:00,0.555556,0.428571,green,1,0.080973,us,0.162309,0.158535,0.087866,mww,0.049204,-19.2918,-172.129,Neiafu,Tonga
5,M 7.0 - south of the Fiji Islands,0.192308,2022-11-09 09:51:00,0.444444,0.142857,green,1,0.046460,us,0.154684,0.389153,0.108787,mwb,0.983784,-26.0442,178.381,the Fiji Islands,Fiji
6,M 6.8 - south of the Fiji Islands,0.115385,2022-11-09 09:38:00,0.111111,0.142857,green,1,0.026991,us,0.148148,0.397654,0.092050,mww,0.939348,-25.9678,178.363,the Fiji Islands,Fiji
13,"M 7.6 - 70 km E of Kainantu, Papua New Guinea",0.423077,2022-09-10 23:47:00,0.888889,0.857143,yellow,1,0.139381,us,0.296296,0.268446,0.050209,mww,0.167714,-6.2237,146.471,Kainantu,Papua New Guinea
14,"M 6.6 - 44 km SE of Kangding, China",0.038462,2022-09-05 04:52:00,1.000000,0.857143,orange,0,0.173894,us,0.153595,0.718633,0.142259,mww,0.011701,29.7263,102.279,Kangding,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,"M 6.6 - 31 km S of Achanizo, Peru",0.038462,2001-07-05 13:53:00,0.000000,0.714286,NaN,0,0.008850,us,0.352941,0.000000,0.000000,mwc,0.086707,-16.0860,-73.987,Achanizo,Peru
778,"M 6.9 - 47 km S of Old Harbor, Alaska",0.153846,2001-01-10 16:02:00,0.555556,0.714286,NaN,0,0.042035,ak,0.000000,0.000000,0.000000,mw,0.048304,56.7744,-153.281,"Old Harbor, Alaska",USA
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",0.230769,2001-01-09 16:49:00,0.000000,0.714286,NaN,0,0.055752,us,0.405229,0.000000,0.000000,mwb,0.148213,-14.9280,167.170,Port-Olry,Vanuatu
780,"M 6.8 - Mindanao, Philippines",0.115385,2001-01-01 08:54:00,0.000000,0.428571,NaN,0,0.026991,us,0.069717,0.000000,0.000000,mwc,0.043204,6.6310,126.899,Mindanao,Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",0.384615,2001-01-01 06:57:00,0.000000,0.714286,NaN,0,0.095133,us,0.352941,0.000000,0.000000,mwc,0.043204,6.8980,126.579,Lukatan,Philippines

# Cleaning df2 Table

In [695]:
df3 = pd.read_csv("/content/cleaned_earthquake_data.csv")
display(df3)

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",0.000000,16-08-2023 12:47,0.777778,0.333333,0.0,0.003097,us,0.122056,0.406537,0.104603,mww,0.284766,0.359358,0.965231,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",0.000000,19-07-2023 00:22,0.888889,0.555556,0.0,0.055310,us,0.098501,0.038462,0.167364,mww,0.100323,0.559354,0.255378,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",0.038462,17-07-2023 03:05,0.777778,0.444444,0.0,0.110177,us,0.074946,0.092557,0.117155,mww,0.252460,0.177235,0.304743,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",0.269231,16-07-2023 06:48,0.666667,0.555556,1.0,0.092920,us,0.185225,0.051376,0.150628,mww,0.044710,0.870791,0.053580,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,0.307692,16-07-2023 06:48,0.000000,0.444444,1.0,0.075221,at,0.084582,0.049816,0.723013,Mi,0.027391,0.871582,0.053310,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",0.230769,27-05-1995 13:03,0.000000,0.888889,0.0,0.055752,us,0.000000,0.000000,0.000000,mwb,0.012423,0.857640,0.897575,"Tungor, Russia",Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",0.461538,16-05-1995 20:12,0.000000,0.333333,0.0,0.115929,us,0.000000,0.000000,0.000000,mw,0.026193,0.290984,0.972855,"Vao, New Caledonia",Indonesia
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",0.153846,14-05-1995 11:33,0.000000,0.555556,0.0,0.036283,us,0.000000,0.000000,0.000000,mw,0.012722,0.400589,0.848358,"Maubara, Timor Leste",Indonesia
998,"M 6.6 - 10 km W of Aian, Greece",0.038462,13-05-1995 08:47,0.000000,0.888889,0.0,0.008850,us,0.000000,0.000000,0.000000,mw,0.016913,0.764142,0.560751,"Aian, Greece",Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",0.230769,05-05-1995 03:53,0.000000,0.666667,0.0,0.055752,us,0.000000,0.000000,0.000000,mw,0.019907,0.557946,0.848831,"Cabatuan, Philippines",Philippines

In [696]:
print(df3.columns)
print(df2.columns)

Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'tsunami', 'sig',
       'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'country'],
      dtype='object')
Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami',
       'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'continent', 'country'],
      dtype='object')

In [697]:
# Insert 'alert' column from df2 into df3 after 'mmi'
mmi_index = df3.columns.get_loc('mmi')  # Get the index of the 'mmi' column
df3.insert(mmi_index + 1, 'alert', df2['alert'])

display(df3)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",0.000000,16-08-2023 12:47,0.777778,0.333333,green,0.0,0.003097,us,0.122056,0.406537,0.104603,mww,0.284766,0.359358,0.965231,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",0.000000,19-07-2023 00:22,0.888889,0.555556,yellow,0.0,0.055310,us,0.098501,0.038462,0.167364,mww,0.100323,0.559354,0.255378,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",0.038462,17-07-2023 03:05,0.777778,0.444444,green,0.0,0.110177,us,0.074946,0.092557,0.117155,mww,0.252460,0.177235,0.304743,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",0.269231,16-07-2023 06:48,0.666667,0.555556,green,1.0,0.092920,us,0.185225,0.051376,0.150628,mww,0.044710,0.870791,0.053580,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,0.307692,16-07-2023 06:48,0.000000,0.444444,NaN,1.0,0.075221,at,0.084582,0.049816,0.723013,Mi,0.027391,0.871582,0.053310,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",0.230769,27-05-1995 13:03,0.000000,0.888889,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mwb,0.012423,0.857640,0.897575,"Tungor, Russia",Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",0.461538,16-05-1995 20:12,0.000000,0.333333,NaN,0.0,0.115929,us,0.000000,0.000000,0.000000,mw,0.026193,0.290984,0.972855,"Vao, New Caledonia",Indonesia
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",0.153846,14-05-1995 11:33,0.000000,0.555556,NaN,0.0,0.036283,us,0.000000,0.000000,0.000000,mw,0.012722,0.400589,0.848358,"Maubara, Timor Leste",Indonesia
998,"M 6.6 - 10 km W of Aian, Greece",0.038462,13-05-1995 08:47,0.000000,0.888889,NaN,0.0,0.008850,us,0.000000,0.000000,0.000000,mw,0.016913,0.764142,0.560751,"Aian, Greece",Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",0.230769,05-05-1995 03:53,0.000000,0.666667,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mw,0.019907,0.557946,0.848831,"Cabatuan, Philippines",Philippines

In [698]:
# Fix date parsing issue
df5['date_time'] = pd.to_datetime(df5['date_time'], errors='coerce', dayfirst=True)
df3['date_time'] = pd.to_datetime(df3['date_time'], errors='coerce', dayfirst=True)

# Convert all int columns in df1 to float
int_columns = df5.select_dtypes(include=['int64', 'int32']).columns
df5[int_columns] = df5[int_columns].astype(float)

# Check for common rows
common_rows = pd.merge(df5, df3, how='inner')

if not common_rows.empty:
    print("Common rows:")
    print(common_rows)
else:
    print("No common rows found.")

No common rows found.

# Final merging of both the tables (Normalized)

In [699]:
# Merge df1 below df3 (concatenate the tables)
merged_df1 = pd.concat([df3, df5], ignore_index=True)

# Sort the final table by 'date_time' in descending order
merged_df1 = merged_df1.sort_values(by='date_time', ascending=False)

# Reset the index for a clean DataFrame
merged_df1 = merged_df1.reset_index(drop=True)

display(merged_df1)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",0.000000,2023-08-16 12:47:00,0.777778,0.333333,green,0.0,0.003097,us,0.122056,0.406537,0.104603,mww,0.284766,0.359358,0.965231,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",0.000000,2023-07-19 00:22:00,0.888889,0.555556,yellow,0.0,0.055310,us,0.098501,0.038462,0.167364,mww,0.100323,0.559354,0.255378,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",0.038462,2023-07-17 03:05:00,0.777778,0.444444,green,0.0,0.110177,us,0.074946,0.092557,0.117155,mww,0.252460,0.177235,0.304743,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",0.269231,2023-07-16 06:48:00,0.666667,0.555556,green,1.0,0.092920,us,0.185225,0.051376,0.150628,mww,0.044710,0.870791,0.053580,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,0.307692,2023-07-16 06:48:00,0.000000,0.444444,NaN,1.0,0.075221,at,0.084582,0.049816,0.723013,Mi,0.027391,0.871582,0.053310,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 7.1 - 85 km S of Tungor, Russia",0.230769,1995-05-27 13:03:00,0.000000,0.888889,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mwb,0.012423,0.857640,0.897575,"Tungor, Russia",Russia
1308,"M 7.7 - 249 km E of Vao, New Caledonia",0.461538,1995-05-16 20:12:00,0.000000,0.333333,NaN,0.0,0.115929,us,0.000000,0.000000,0.000000,mw,0.026193,0.290984,0.972855,"Vao, New Caledonia",Indonesia
1309,"M 6.9 - 27 km NNW of Maubara, Timor Leste",0.153846,1995-05-14 11:33:00,0.000000,0.555556,NaN,0.0,0.036283,us,0.000000,0.000000,0.000000,mw,0.012722,0.400589,0.848358,"Maubara, Timor Leste",Indonesia
1310,"M 6.6 - 10 km W of Aian, Greece",0.038462,1995-05-13 08:47:00,0.000000,0.888889,NaN,0.0,0.008850,us,0.000000,0.000000,0.000000,mw,0.016913,0.764142,0.560751,"Aian, Greece",Greece
1311,"M 7.1 - 14 km NE of Cabatuan, Philippines",0.230769,1995-05-05 03:53:00,0.000000,0.666667,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mw,0.019907,0.557946,0.848831,"Cabatuan, Philippines",Philippines

## Cleaning Alerts of merged_df1

In [700]:
# Display rows where the 'alert' column is NaN
nan_rows = merged_df1[merged_df1['alert'].isna()]

display(nan_rows)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
4,M 7.3 - Alaska Peninsula,0.307692,2023-07-16 06:48:00,0.0,0.444444,NaN,1.0,0.075221,at,0.084582,0.049816,0.723013,Mi,0.027391,0.871582,0.053310,Alaska Peninsula,Indonesia
78,"M 6.5 - 71 km SE of Nikolski, Alaska",0.000000,2022-01-11 12:39:00,0.0,0.222222,NaN,1.0,0.000000,at,0.103854,0.091541,0.451883,Mi,0.051339,0.856688,0.033056,"Nikolski, Alaska",Indonesia
79,"M 6.5 - 71 km SE of Nikolski, Alaska",0.000000,2022-01-11 12:39:00,0.0,0.222222,NaN,1.0,0.000000,pt,0.024625,0.000000,0.873640,Mi,0.051339,0.856688,0.033056,"Nikolski, Alaska",Indonesia
80,"M 6.5 - 71 km SE of Nikolski, Alaska",0.000000,2022-01-11 12:39:00,0.0,0.142857,NaN,1.0,0.000000,pt,0.025054,0.000000,0.873640,Mi,0.049204,52.502000,-168.080000,"Nikolski, Alaska",USA
81,"M 6.5 - 71 km SE of Nikolski, Alaska",0.000000,2022-01-11 12:39:00,0.0,0.142857,NaN,1.0,0.000000,at,0.105664,0.137374,0.451883,Mi,0.049204,52.502000,-168.080000,"Nikolski, Alaska",USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 7.1 - 85 km S of Tungor, Russia",0.230769,1995-05-27 13:03:00,0.0,0.888889,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mwb,0.012423,0.857640,0.897575,"Tungor, Russia",Russia
1308,"M 7.7 - 249 km E of Vao, New Caledonia",0.461538,1995-05-16 20:12:00,0.0,0.333333,NaN,0.0,0.115929,us,0.000000,0.000000,0.000000,mw,0.026193,0.290984,0.972855,"Vao, New Caledonia",Indonesia
1309,"M 6.9 - 27 km NNW of Maubara, Timor Leste",0.153846,1995-05-14 11:33:00,0.0,0.555556,NaN,0.0,0.036283,us,0.000000,0.000000,0.000000,mw,0.012722,0.400589,0.848358,"Maubara, Timor Leste",Indonesia
1310,"M 6.6 - 10 km W of Aian, Greece",0.038462,1995-05-13 08:47:00,0.0,0.888889,NaN,0.0,0.008850,us,0.000000,0.000000,0.000000,mw,0.016913,0.764142,0.560751,"Aian, Greece",Greece
1311,"M 7.1 - 14 km NE of Cabatuan, Philippines",0.230769,1995-05-05 03:53:00,0.0,0.666667,NaN,0.0,0.055752,us,0.000000,0.000000,0.000000,mw,0.019907,0.557946,0.848831,"Cabatuan, Philippines",Philippines

In [701]:
# Function to assign alerts based on the given conditions
def assign_alert_for_nan(row):
    # Red alert
    if (row['magnitude'] >= 0.7 and row['depth'] < 0.2) and (row['cdi'] >= 0.8 or row['mmi'] >= 0.8) and row['tsunami'] == 1:
        return "red"
    # Orange alert
    elif (row['magnitude'] >= 0.6 and 0.2 <= row['depth'] < 0.5) and (0.6 <= row['cdi'] < 0.8 or 0.6 <= row['mmi'] < 0.8):
        return "orange"
    # Yellow alert
    elif (row['magnitude'] >= 0.4 and 0.5 <= row['depth'] < 1) and (0.4 <= row['cdi'] < 0.6 or 0.3 <= row['mmi'] < 0.6):
        return "yellow"
    # Green alert
    else:
        return "green"

# Apply the function to rows where 'alert' is NaN
merged_df1.loc[merged_df1['alert'].isna(), 'alert'] = merged_df1[merged_df1['alert'].isna()].apply(assign_alert_for_nan, axis=1)

# Display the updated DataFrame
display(merged_df1)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",0.000000,2023-08-16 12:47:00,0.777778,0.333333,green,0.0,0.003097,us,0.122056,0.406537,0.104603,mww,0.284766,0.359358,0.965231,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",0.000000,2023-07-19 00:22:00,0.888889,0.555556,yellow,0.0,0.055310,us,0.098501,0.038462,0.167364,mww,0.100323,0.559354,0.255378,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",0.038462,2023-07-17 03:05:00,0.777778,0.444444,green,0.0,0.110177,us,0.074946,0.092557,0.117155,mww,0.252460,0.177235,0.304743,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",0.269231,2023-07-16 06:48:00,0.666667,0.555556,green,1.0,0.092920,us,0.185225,0.051376,0.150628,mww,0.044710,0.870791,0.053580,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,0.307692,2023-07-16 06:48:00,0.000000,0.444444,green,1.0,0.075221,at,0.084582,0.049816,0.723013,Mi,0.027391,0.871582,0.053310,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 7.1 - 85 km S of Tungor, Russia",0.230769,1995-05-27 13:03:00,0.000000,0.888889,green,0.0,0.055752,us,0.000000,0.000000,0.000000,mwb,0.012423,0.857640,0.897575,"Tungor, Russia",Russia
1308,"M 7.7 - 249 km E of Vao, New Caledonia",0.461538,1995-05-16 20:12:00,0.000000,0.333333,green,0.0,0.115929,us,0.000000,0.000000,0.000000,mw,0.026193,0.290984,0.972855,"Vao, New Caledonia",Indonesia
1309,"M 6.9 - 27 km NNW of Maubara, Timor Leste",0.153846,1995-05-14 11:33:00,0.000000,0.555556,green,0.0,0.036283,us,0.000000,0.000000,0.000000,mw,0.012722,0.400589,0.848358,"Maubara, Timor Leste",Indonesia
1310,"M 6.6 - 10 km W of Aian, Greece",0.038462,1995-05-13 08:47:00,0.000000,0.888889,green,0.0,0.008850,us,0.000000,0.000000,0.000000,mw,0.016913,0.764142,0.560751,"Aian, Greece",Greece
1311,"M 7.1 - 14 km NE of Cabatuan, Philippines",0.230769,1995-05-05 03:53:00,0.000000,0.666667,green,0.0,0.055752,us,0.000000,0.000000,0.000000,mw,0.019907,0.557946,0.848831,"Cabatuan, Philippines",Philippines

In [702]:
# Save the merged DataFrame to a CSV file
file_name = '/content/clean_data_table1.csv'
merged_df1.to_csv(file_name, index=False)

from google.colab import files
files.download(file_name)

# Final merging of both the tables (Denormalized)

In [703]:
df4 = pd.read_csv("/content/denormalised_dataset.csv")
display(df4)

,title,magnitude,date_time,cdi,mmi,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",6.5,19-07-2023 00:22,8,6,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",6.6,17-07-2023 03:05,7,5,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,1,820,at,79,0.879451,172.8,mi,21.000,54.4900,-160.7960,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,0,912,us,0,0.000000,0.0,mww,20.200,-23.0080,169.9000,"Vao, New Caledonia",Indonesia
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,0,732,us,0,0.000000,0.0,mww,11.200,-8.3780,125.1270,"Maubara, Timor Leste",Indonesia
998,"M 6.6 - 10 km W of Aian, Greece",6.6,13-05-1995 08:47,0,9,0,670,us,0,0.000000,0.0,mww,14.000,40.1490,21.6950,"Aian, Greece",Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,5/5/1995 3:53,0,7,0,776,us,0,0.000000,0.0,mww,16.000,12.6260,125.2970,"Cabatuan, Philippines",Philippines

In [704]:
# Insert 'alert' column from df2 into df3 after 'mmi'
mmi_index = df4.columns.get_loc('mmi')  # Get the index of the 'mmi' column
df4.insert(mmi_index + 1, 'alert', df2['alert'])

display(df4)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,mi,21.000,54.4900,-160.7960,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mww,20.200,-23.0080,169.9000,"Vao, New Caledonia",Indonesia
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mww,11.200,-8.3780,125.1270,"Maubara, Timor Leste",Indonesia
998,"M 6.6 - 10 km W of Aian, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mww,14.000,40.1490,21.6950,"Aian, Greece",Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,5/5/1995 3:53,0,7,NaN,0,776,us,0,0.000000,0.0,mww,16.000,12.6260,125.2970,"Cabatuan, Philippines",Philippines

In [705]:
# Merge df1 below df3 (concatenate the tables)
merged_df2 = pd.concat([df4, df1], ignore_index=True)

In [706]:
display(merged_df2.head(10))

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7.0,4.0,green,0.0,657.0,us,114.0,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",6.5,19-07-2023 00:22,8.0,6.0,yellow,0.0,775.0,us,92.0,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",6.6,17-07-2023 03:05,7.0,5.0,green,0.0,899.0,us,70.0,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6.0,6.0,green,1.0,860.0,us,173.0,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0.0,5.0,NaN,1.0,820.0,at,79.0,0.879451,172.8,mi,21.000,54.4900,-160.7960,Alaska Peninsula,Indonesia
5,"M 6.6 - 277 km NNE of Codrington, Antigua and ...",6.6,10/7/2023 20:28,5.0,4.0,green,1.0,802.0,us,95.0,2.454000,37.0,mww,10.000,20.0196,-61.0955,"Codrington, Antigua and Barbuda",Indonesia
6,M 6.9 - Tonga,6.9,2/7/2023 10:27,4.0,4.0,green,1.0,741.0,us,136.0,1.179000,23.0,mww,229.000,-17.8530,-174.9370,Tonga,Indonesia
7,M 7.2 - south of the Fiji Islands,7.2,15-06-2023 18:06,8.0,6.0,green,1.0,804.0,us,85.0,2.590000,24.0,mww,167.404,-22.9824,-177.2080,the Fiji Islands,Indonesia
8,M 6.6 - Panama-Colombia border region,6.6,25-05-2023 03:05,6.0,6.0,green,1.0,733.0,us,50.0,2.163000,129.0,mww,10.000,8.8894,-77.1231,Panama-Colombia border region,Colombia
9,M 7.1 - southeast of the Loyalty Islands,7.1,20-05-2023 01:51,3.0,4.0,green,1.0,777.0,us,98.0,2.812000,56.0,mww,35.981,-23.0622,170.4560,the Loyalty Islands,Indonesia

In [707]:
# Check for rows where 'date_time' cannot be converted to datetime
invalid_dates = merged_df2[~pd.to_datetime(merged_df2['date_time'], errors='coerce').notna()]
display(invalid_dates)

<ipython-input-707-d75dcfbaf4c0>:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  invalid_dates = merged_df2[~pd.to_datetime(merged_df2['date_time'], errors='coerce').notna()]

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
5,"M 6.6 - 277 km NNE of Codrington, Antigua and ...",6.6,10/7/2023 20:28,5.0,4.0,green,1.0,802.0,us,95.0,2.454,37.0,mww,10.000,20.0196,-61.0955,"Codrington, Antigua and Barbuda",Indonesia
6,M 6.9 - Tonga,6.9,2/7/2023 10:27,4.0,4.0,green,1.0,741.0,us,136.0,1.179,23.0,mww,229.000,-17.8530,-174.9370,Tonga,Indonesia
11,"M 7.6 - 95 km WNW of Hihifo, Tonga",7.6,10/5/2023 16:02,8.0,6.0,green,1.0,907.0,us,111.0,3.631,17.0,mww,210.097,-15.6002,-174.6080,"Hihifo, Tonga",Indonesia
17,M 6.5 - near the east coast of the Kamchatka P...,6.5,3/4/2023 3:06,7.0,6.0,yellow,1.0,655.0,us,104.0,0.266,30.0,mww,105.631,52.7772,158.4840,"the Kamchatka Peninsula, Russia",Russian Federation (the)
18,"M 7.0 - New Guinea, Papua New Guinea",7.0,2/4/2023 18:04,7.0,7.0,green,1.0,781.0,us,105.0,6.450,31.0,mww,62.603,-4.2924,143.1550,"New Guinea, Papua New Guinea",Papua New Guinea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,"M 6.8 - 5 km ENE of Sungai Penuh, Indonesia",6.8,6/10/1995 18:09,0.0,7.0,NaN,0.0,711.0,us,0.0,0.000,0.0,mww,33.000,-2.0450,101.4360,"Sungai Penuh, Indonesia",Indonesia
981,"M 6.5 - 50 km SE of Suca, Ecuador",6.5,3/10/1995 12:44,0.0,7.0,NaN,0.0,650.0,us,0.0,0.000,0.0,mww,16.700,-2.7780,-77.8510,"Suca, Ecuador",Ecuador
982,"M 7.0 - 45 km SE of Suca, Ecuador",7.0,3/10/1995 1:51,0.0,7.0,NaN,0.0,754.0,us,0.0,0.000,0.0,mww,24.400,-2.7500,-77.8810,"Suca, Ecuador",Ecuador
992,"M 6.8 - 158 km W of Jinghong, China",6.8,11/7/1995 21:46,0.0,8.0,NaN,0.0,711.0,us,0.0,0.000,0.0,mww,12.500,21.9660,99.1960,"Jinghong, China",Myanmar
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,5/5/1995 3:53,0.0,7.0,NaN,0.0,776.0,us,0.0,0.000,0.0,mww,16.000,12.6260,125.2970,"Cabatuan, Philippines",Philippines

In [708]:
value_at_index_5 = merged_df2.loc[0, 'date_time']
datatype = type(value_at_index_5)
print(datatype)

<class 'str'>

In [709]:
# Filter rows where 'date_time' column has values of string type
string_values = merged_df2[merged_df2['date_time'].apply(lambda x: isinstance(x, str))]

# Display the filtered rows
print(string_values['date_time'])

0      16-08-2023 12:47
1      19-07-2023 00:22
2      17-07-2023 03:05
3      16-07-2023 06:48
4      16-07-2023 06:48
             ...
995    27-05-1995 13:03
996    16-05-1995 20:12
997    14-05-1995 11:33
998    13-05-1995 08:47
999       5/5/1995 3:53
Name: date_time, Length: 1000, dtype: object

In [710]:
# Convert string values in 'date_time' column to datetime format with automatic format inference
merged_df2['date_time'] = merged_df2['date_time'].apply(
    lambda x: pd.to_datetime(x, errors='coerce') if isinstance(x, str) else x
)

<ipython-input-710-84d74c5ab160>:3: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  lambda x: pd.to_datetime(x, errors='coerce') if isinstance(x, str) else x

In [711]:
# Check for null values in the 'date_time' column
null_values = merged_df2['date_time'].isnull().sum()

# Display the result
if null_values > 0:
    print(f"There are {null_values} null values in the 'date_time' column.")
else:
    print("There are no null values in the 'date_time' column.")

There are no null values in the 'date_time' column.

In [712]:
# Display all unique values in the 'date_time' column to inspect the formats
unique_formats = merged_df2['date_time'].unique()

# Print the unique formats
for dt in unique_formats:
    print(dt)

2023-08-16 12:47:00
2023-07-19 00:22:00
2023-07-17 03:05:00
2023-07-16 06:48:00
2023-10-07 20:28:00
2023-02-07 10:27:00
2023-06-15 18:06:00
2023-05-25 03:05:00
2023-05-20 01:51:00
2023-05-19 02:57:00
2023-10-05 16:02:00
2023-04-28 03:13:00
2023-04-24 20:00:00
2023-04-24 00:41:00
2023-04-18 04:31:00
2023-04-14 09:55:00
2023-03-04 03:06:00
2023-02-04 18:04:00
2023-03-22 16:00:00
2023-03-21 16:47:00
2023-03-18 17:12:00
2023-03-16 00:56:00
2023-04-03 06:41:00
2023-02-03 18:04:00
2023-01-03 05:36:00
2023-02-23 00:37:00
2023-06-02 10:24:00
2023-06-02 01:28:00
2023-06-02 01:17:00
2023-01-20 22:09:00
2023-01-18 06:06:00
2023-09-01 17:47:00
2023-08-01 12:32:00
2022-04-12 19:24:00
2022-11-22 02:03:00
2022-11-18 13:37:00
2022-12-11 07:09:00
2022-11-11 10:48:00
2022-09-11 10:14:00
2022-09-11 09:51:00
2022-09-11 09:38:00
2022-10-20 11:57:00
2022-09-22 06:16:00
2022-09-19 18:05:00
2022-09-18 06:44:00
2022-09-17 13:41:00
2022-09-14 11:04:00
2022-10-09 23:47:00
2022-05-09 04:52:00
2022-08-14 13:44:00
2022-07-27 00:43:00
2022-08-06 00:55:00
2022-05-26 12:02:00
2022-05-19 10:13:00
2022-10-05 23:06:00
2022-04-21 07:42:00
2022-03-31 05:44:00
2022-03-30 20:56:00
2022-03-22 17:41:00
2022-03-16 14:36:00
2022-03-13 21:09:00
2022-02-03 12:52:00
2022-02-16 20:21:00
2022-03-02 15:58:00
2022-01-29 02:46:00
2022-01-14 09:05:00
2022-11-01 12:39:00
2022-11-01 11:35:00
2022-11-01 01:07:00
2022-07-01 17:45:00
2021-12-29 18:25:00
2021-12-14 03:20:00
2021-11-28 10:52:00
2021-10-11 15:45:00
2021-11-10 09:10:00
2021-09-10 10:58:00
2021-02-10 06:29:00
2021-09-22 09:57:00
2021-08-09 01:47:00
2021-08-22 21:33:00
2021-08-22 00:45:00
2021-08-18 10:10:00
2021-08-16 11:10:00
2021-08-14 12:29:00
2021-08-14 11:57:00
2021-12-08 18:35:00
2021-12-08 18:32:00
2021-11-08 17:46:00
2021-07-29 06:15:00
2021-07-23 20:48:00
2021-07-21 21:15:00
2021-06-20 17:05:00
2021-05-21 22:13:00
2021-05-21 18:04:00
2021-05-14 06:33:00
2021-12-05 14:05:00
2021-01-05 01:27:00
2021-04-25 22:28:00
2021-04-24 00:23:00
2021-03-20 09:09:00
2021-03-16 18:38:00
2021-04-03 23:12:00
2021-04-03 19:28:00
2021-04-03 17:41:00
2021-04-03 13:27:00
2021-02-13 14:07:00
2021-10-02 13:19:00
2021-01-23 23:36:00
2021-01-21 12:23:00
2021-11-01 21:32:00
2020-12-27 21:39:00
2020-10-30 11:51:00
2020-10-19 20:54:00
2020-09-18 21:43:00
2020-01-09 21:09:00
2020-01-09 04:09:00
2020-08-30 21:20:00
2020-08-21 04:09:00
2020-08-18 22:29:00
2020-08-18 22:23:00
2020-08-18 00:03:00
2020-07-22 06:12:00
2020-07-17 02:50:00
2020-06-07 22:54:00
2020-06-23 15:29:00
2020-06-18 12:49:00
2020-06-13 15:51:00
2020-03-06 07:35:00
2020-05-15 11:03:00
2020-12-05 22:41:00
2020-06-05 13:53:00
2020-02-05 12:51:00
2020-03-31 23:52:00
2020-03-25 02:49:00
2020-02-13 10:33:00
2020-01-28 19:10:00
2020-01-24 17:55:00
2019-12-15 06:11:00
2019-11-14 16:17:00
2019-08-11 10:44:00
2019-04-11 22:43:00
2019-10-31 01:11:00
2019-10-29 01:04:00
2019-09-29 15:57:00
2019-09-25 23:46:00
2019-01-09 15:54:00
2019-08-27 23:55:00
2019-02-08 12:03:00
2019-01-08 18:28:00
2019-07-31 15:02:00
2019-07-14 09:10:00
2019-07-14 05:39:00
2019-07-07 15:08:00
2019-06-07 03:19:00
2019-06-24 02:53:00
2019-06-15 22:55:00
2019-05-30 09:03:00
2019-05-26 07:41:00
2019-05-14 12:58:00
2019-06-05 21:19:00
2019-12-04 11:40:00
2019-09-04 17:53:00
2019-01-03 08:50:00
2019-02-22 10:17:00
2019-01-02 16:14:00
2019-01-22 19:01:00
2019-01-20 01:32:00
2019-01-15 18:06:00
2019-06-01 17:27:00
2019-05-01 19:25:00
2018-12-29 03:39:00
2018-12-20 17:01:00
2018-11-12 02:26:00
2018-05-12 06:43:00
2018-05-12 04:18:00
2018-11-30 17:29:00
2018-11-18 20:25:00
2018-09-11 01:49:00
2018-10-25 22:54:00
2018-10-22 06:22:00
2018-10-22 06:16:00
2018-10-22 05:39:00
2018-10-16 01:03:00
2018-10-13 11:10:00
2018-10-10 23:16:00
2018-10-10 20:48:00
2018-09-30 10:52:00
2018-09-28 10:02:00
2018-09-16 21:11:00
2018-10-09 04:19:00
2018-09-09 19:31:00
2018-06-09 15:49:00
2018-05-09 18:07:00
2018-08-29 03:51:00
2018-08-24 09:04:00
2018-08-21 22:32:00
2018-08-21 21:31:00
2018-08-19 14:56:00
2018-08-19 00:19:00
2018-08-17 15:35:00
2018-08-15 21:56:00
2018-05-08 11:46:00
2018-04-05 22:32:00
2018-02-04 13:40:00
2018-03-29 21:25:00
2018-03-26 09:51:00
2018-08-03 17:39:00
2018-06-03 14:13:00
2018-02-25 17:44:00
2018-02-16 23:39:00
2018-01-23 09:31:00
2018-01-14 09:18:00
2018-10-01 02:51:00
2017-12-15 16:47:00
2017-12-13 18:03:00
2017-11-19 22:43:00
2017-11-19 15:09:00
2017-11-13 02:28:00
2017-12-11 18:18:00
2017-07-11 21:26:00
2017-04-11 09:00:00
2017-01-11 02:23:00
2017-10-31 00:42:00
2017-10-24 10:47:00
2017-08-10 22:34:00
2017-09-19 18:14:00
2017-08-09 04:49:00
2017-08-08 13:19:00
2017-07-20 22:31:00
2017-07-17 23:34:00
2017-11-07 07:00:00
2017-06-07 08:03:00
2017-06-22 12:31:00
2017-06-14 07:29:00
2017-02-06 22:24:00
2017-05-29 14:35:00
2017-10-05 23:23:00
2017-09-05 13:52:00
2017-04-28 20:23:00
2017-04-24 21:38:00
2017-03-04 17:40:00
2017-03-29 04:09:00
2017-02-24 17:28:00
2017-02-21 14:09:00
2017-10-02 14:03:00
2017-01-22 04:30:00
2017-01-19 23:04:00
2017-10-01 06:13:00
2017-03-01 21:52:00
2016-12-25 14:22:00
2016-12-21 00:17:00
2016-12-17 10:51:00
2016-09-12 19:10:00
2016-08-12 21:56:00
2016-08-12 17:38:00
2016-08-12 14:49:00
2016-06-12 22:03:00
2016-11-25 14:24:00
2016-11-24 18:43:00
2016-11-21 20:59:00
2016-11-14 00:34:00
2016-11-13 11:32:00
2016-11-13 11:02:00
2016-10-30 06:40:00
2016-10-19 00:26:00
2016-10-17 06:14:00
2016-09-24 21:28:00
2016-01-09 16:37:00
2016-08-31 03:11:00
2016-08-24 10:34:00
2016-12-08 01:26:00
2016-07-29 21:18:00
2016-01-06 22:56:00
2016-05-28 09:46:00
2016-05-28 05:38:00
2016-05-18 16:46:00
2016-05-18 07:57:00
2016-04-28 19:33:00
2016-04-16 23:58:00
2016-04-15 16:25:00
2016-04-13 13:55:00
2016-10-04 10:28:00
2016-07-04 03:32:00
2016-06-04 06:58:00
2016-03-04 08:23:00
2016-02-03 12:49:00
2016-01-30 03:25:00
2016-01-24 10:30:00
2016-01-21 18:06:00
2016-01-14 03:25:00
2016-11-01 16:38:00
2016-03-01 23:05:00
2015-12-17 19:49:00
2015-09-12 10:21:00
2015-07-12 07:50:00
2015-11-26 05:45:00
2015-11-24 22:50:00
2015-11-24 22:45:00
2015-11-18 18:31:00
2015-11-17 07:10:00
2015-11-13 20:51:00
2015-11-11 02:46:00
2015-11-11 01:54:00
2015-08-11 16:47:00
2015-07-11 07:31:00
2015-04-11 03:44:00
2015-10-26 09:09:00
2015-10-20 21:52:00
2015-09-24 15:53:00
2015-09-21 17:40:00
2015-09-17 04:10:00
2015-09-17 03:55:00
2015-09-16 23:18:00
2015-09-16 22:54:00
2015-09-13 08:14:00
2015-12-08 18:49:00
2015-10-08 04:12:00
2015-07-27 21:41:00
2015-07-27 04:49:00
2015-07-18 02:27:00
2015-07-16 15:16:00
2015-10-07 04:12:00
2015-06-23 12:18:00
2015-05-30 11:23:00
2015-05-29 07:00:00
2015-05-22 23:59:00
2015-05-22 21:45:00
2015-05-20 22:48:00
2015-12-05 21:12:00
2015-12-05 07:05:00
2015-07-05 07:10:00
2015-05-05 01:44:00
2015-01-05 08:06:00
2015-04-30 10:45:00
2015-04-26 07:09:00
2015-04-25 06:45:00
2015-04-25 06:11:00
2015-04-17 15:52:00
2015-03-30 08:48:00
2015-03-29 23:48:00
2015-02-27 13:45:00
2015-02-16 23:06:00
2015-11-02 18:57:00
2015-01-23 03:47:00
2015-07-01 05:07:00
2014-08-12 08:54:00
2014-07-12 01:22:00
2014-02-12 05:11:00
2014-11-26 14:33:00
2014-11-21 10:10:00
2014-11-16 22:33:00
2014-11-15 02:31:00
2014-07-11 03:33:00
2014-01-11 18:57:00
2014-10-14 03:51:00
2014-09-17 06:14:00
2014-08-24 23:21:00
2014-03-08 00:22:00
2014-07-21 14:54:00
2014-11-07 19:22:00
2014-07-07 11:23:00
2014-04-07 15:00:00
2014-06-29 17:15:00
2014-06-29 07:52:00
2014-06-23 20:53:00
2014-06-23 20:06:00
2014-06-23 19:21:00
2014-06-23 19:19:00
2014-05-24 09:25:00
2014-05-13 06:35:00
2014-01-05 06:36:00
2014-04-24 03:10:00
2014-04-19 13:28:00
2014-04-19 01:04:00
2014-04-18 14:27:00
2014-04-13 13:24:00
2014-04-13 12:36:00
2014-12-04 20:14:00
2014-11-04 20:29:00
2014-11-04 08:16:00
2014-11-04 07:07:00
2014-03-04 02:43:00
2014-03-04 01:58:00
2014-01-04 23:57:00
2014-01-04 23:46:00
2014-03-16 21:16:00
2014-10-03 05:18:00
2014-02-03 20:11:00
2014-02-18 09:27:00
2014-12-02 09:19:00
2014-07-02 08:40:00
2014-02-02 09:26:00
2014-01-01 16:03:00
2013-11-23 07:48:00
2013-11-17 09:04:00
2013-11-16 03:34:00
2013-10-31 23:03:00
2013-10-25 17:10:00
2013-10-19 17:54:00
2013-10-16 10:30:00
2013-10-15 00:12:00
2013-12-10 13:11:00
2013-01-10 03:38:00
2013-09-30 05:55:00
2013-09-28 07:34:00
2013-09-25 16:42:00
2013-09-24 11:29:00
2013-04-09 02:32:00
2013-04-09 00:18:00
2013-01-09 11:52:00
2013-08-30 16:25:00
2013-08-16 02:31:00
2013-08-13 15:43:00
2013-07-21 05:09:00
2013-07-15 14:03:00
2013-07-07 20:30:00
2013-07-07 18:35:00
2013-06-24 22:04:00
2013-06-15 17:34:00
2013-06-13 16:47:00
2013-05-24 14:56:00
2013-05-24 05:44:00
2013-05-23 17:19:00
2013-05-14 00:32:00
2013-04-23 23:14:00
2013-04-20 00:02:00
2013-04-19 03:05:00
2013-04-16 22:55:00
2013-04-16 10:44:00
2013-04-14 01:32:00
2013-06-04 04:42:00
2013-10-03 22:51:00
2013-01-03 13:20:00
2013-02-28 14:05:00
2013-02-14 13:13:00
2013-09-02 21:02:00
2013-09-02 14:16:00
2013-08-02 15:26:00
2013-08-02 11:12:00
2013-07-02 18:59:00
2013-06-02 01:54:00
2013-06-02 01:23:00
2013-06-02 01:12:00
2013-02-02 14:17:00
2013-01-30 20:15:00
2013-05-01 08:58:00
2012-12-21 22:28:00
2012-10-12 16:53:00
2012-07-12 08:18:00
2012-11-11 22:14:00
2012-11-11 01:12:00
2012-07-11 16:35:00
2012-10-28 03:04:00
2012-10-24 00:45:00
2012-12-10 00:31:00
2012-09-30 16:31:00
2012-05-09 14:42:00
2012-08-31 12:47:00
2012-08-27 04:37:00
2012-08-26 15:05:00
2012-08-14 02:59:00
2012-07-28 20:03:00
2012-04-28 10:08:00
2012-04-21 01:16:00
2012-04-17 07:13:00
2012-04-17 03:50:00
2012-12-04 07:15:00
2012-11-04 22:55:00
2012-11-04 10:43:00
2012-11-04 08:38:00
2012-03-25 22:37:00
2012-03-21 22:15:00
2012-03-20 18:02:00
2012-02-26 06:17:00
2012-06-02 03:49:00
2012-02-02 13:34:00
2012-10-01 18:36:00
2011-12-27 15:21:00
2011-12-14 05:04:00
2011-11-12 01:47:00
2011-10-28 18:54:00
2011-10-23 10:41:00
2011-10-14 03:35:00
2011-09-18 12:40:00
2011-09-16 19:26:00
2011-05-09 17:55:00
2011-03-09 22:55:00
2011-08-24 17:46:00
2011-08-20 18:19:00
2011-08-20 17:13:00
2011-08-20 16:55:00
2011-07-31 23:38:00
2011-06-07 19:03:00
2011-06-22 21:50:00
2011-10-05 08:55:00
2011-04-23 04:16:00
2011-11-04 08:16:00
2011-07-04 14:32:00
2011-07-04 13:11:00
2011-03-24 13:55:00
2011-11-03 11:36:00
2011-11-03 08:19:00
2011-11-03 06:25:00
2011-11-03 06:15:00
2011-11-03 05:46:00
2011-09-03 02:45:00
2011-02-14 03:40:00
2011-11-02 20:05:00
2011-01-18 20:23:00
2011-01-13 16:16:00
2011-02-01 20:20:00
2010-12-25 13:16:00
2010-12-20 18:41:00
2010-02-12 03:12:00
2010-10-25 14:42:00
2010-10-21 17:53:00
2010-09-29 17:11:00
2010-03-09 16:35:00
2010-12-08 11:54:00
2010-10-08 05:23:00
2010-04-08 22:01:00
2010-04-08 07:15:00
2010-07-23 22:51:00
2010-07-18 13:34:00
2010-07-18 13:04:00
2010-07-14 08:32:00
2010-06-26 05:30:00
2010-06-16 03:58:00
2010-06-16 03:16:00
2010-12-06 19:26:00
2010-05-27 17:14:00
2010-09-05 05:59:00
2010-04-13 23:49:00
2010-11-04 09:40:00
2010-06-04 22:15:00
2010-04-04 22:40:00
2010-03-30 16:54:00
2010-03-16 02:21:00
2010-03-14 08:08:00
2010-11-03 14:55:00
2010-11-03 14:39:00
2010-05-03 16:07:00
2010-05-03 11:47:00
2010-04-03 14:02:00
2010-02-27 08:01:00
2010-02-27 06:34:00
2010-02-26 20:31:00
2010-12-01 21:53:00
2010-10-01 00:27:00
2010-05-01 12:15:00
2010-03-01 22:36:00
2010-03-01 21:48:00
2009-11-13 03:05:00
2009-09-11 10:44:00
2009-08-11 19:41:00
2009-10-30 07:03:00
2009-10-24 14:40:00
2009-08-10 08:28:00
2009-07-10 23:13:00
2009-07-10 22:18:00
2009-07-10 22:03:00
2009-01-10 01:52:00
2009-09-30 10:16:00
2009-09-29 17:48:00
2009-02-09 07:55:00
2009-08-16 07:38:00
2009-12-08 22:48:00
2009-10-08 19:55:00
2009-09-08 10:55:00
2009-03-08 17:59:00
2009-07-15 09:22:00
2009-06-23 14:19:00
2009-05-28 08:24:00
2009-03-19 18:17:00
2009-11-02 17:34:00
2009-03-01 22:33:00
2009-03-01 20:23:00
2009-03-01 19:43:00
2008-11-16 17:02:00
2008-10-16 19:41:00
2008-05-10 15:52:00
2008-11-09 00:20:00
2008-11-09 00:00:00
2008-08-09 18:52:00
2008-08-25 13:21:00
2008-07-23 15:26:00
2008-07-19 02:39:00
2008-06-27 11:40:00
2008-06-13 23:43:00
2008-12-05 06:28:00
2008-07-05 16:45:00
2008-09-04 12:46:00
2008-03-20 22:32:00
2008-03-03 14:11:00
2008-02-25 21:02:00
2008-02-25 18:06:00
2008-02-25 08:36:00
2008-02-24 14:46:00
2008-02-20 08:08:00
2008-02-14 12:08:00
2008-02-14 10:09:00
2008-12-02 12:50:00
2007-12-20 07:55:00
2007-12-16 08:09:00
2007-11-29 19:00:00
2007-11-27 11:49:00
2007-11-25 19:53:00
2007-11-25 16:02:00
2007-11-22 08:48:00
2007-11-16 03:13:00
2007-11-15 15:05:00
2007-11-14 15:40:00
2007-10-24 21:02:00
2007-10-15 12:29:00
2007-09-26 12:36:00
2007-09-20 08:31:00
2007-09-13 03:35:00
2007-09-13 02:30:00
2007-12-09 23:49:00
2007-12-09 11:10:00
2007-10-09 01:49:00
2007-02-09 01:05:00
2007-08-16 08:39:00
2007-08-15 23:40:00
2007-08-08 17:05:00
2007-01-08 17:08:00
2007-07-26 05:40:00
2007-07-16 14:17:00
2007-07-16 01:13:00
2007-06-13 19:29:00
2007-01-04 21:11:00
2007-01-04 20:47:00
2007-01-04 20:39:00
2007-03-25 00:41:00
2007-03-25 00:40:00
2007-02-20 08:04:00
2007-01-21 11:27:00
2007-01-13 04:23:00
2006-12-26 12:34:00
2006-12-26 12:26:00
2006-11-15 11:14:00
2006-07-11 17:38:00
2006-10-20 10:48:00
2006-10-17 01:25:00
2006-10-15 17:07:00
2006-09-28 06:22:00
2006-01-09 10:18:00
2006-08-24 21:50:00
2006-07-08 22:18:00
2006-07-17 08:19:00
2006-05-28 03:12:00
2006-05-22 11:12:00
2006-05-16 15:28:00
2006-03-05 15:26:00
2006-04-30 21:40:00
2006-04-30 19:17:00
2006-04-29 16:58:00
2006-04-20 23:25:00
2006-07-04 08:30:00
2006-03-14 06:57:00
2006-02-22 22:19:00
2006-08-01 11:34:00
2006-04-01 08:32:00
2005-12-12 21:47:00
2005-05-12 12:19:00
2005-02-12 13:13:00
2005-11-19 14:10:00
2005-11-17 19:26:00
2005-08-10 03:50:00
2005-09-29 15:50:00
2005-09-26 01:55:00
2005-09-09 07:26:00
2005-08-16 02:46:00
2005-07-24 15:42:00
2005-05-07 01:52:00
2005-02-07 02:16:00
2005-06-15 02:50:00
2005-06-13 22:44:00
2005-05-19 01:54:00
2005-05-14 05:05:00
2005-10-04 11:14:00
2005-10-04 10:29:00
2005-03-28 16:09:00
2005-03-20 01:53:00
2005-02-03 10:42:00
2005-02-26 12:56:00
2005-02-19 00:04:00
2005-02-15 14:42:00
2005-08-02 14:48:00
2005-05-02 12:23:00
2005-01-19 06:11:00
2004-12-26 09:20:00
2004-12-26 04:21:00
2004-12-26 00:58:00
2004-12-23 14:59:00
2004-12-14 23:20:00
2004-06-12 14:15:00
2004-11-28 18:32:00
2004-11-26 02:25:00
2004-11-22 20:26:00
2004-11-15 09:06:00
2004-11-11 21:26:00
2004-11-11 17:34:00
2004-02-11 10:02:00
2004-10-23 08:56:00
2004-10-15 04:08:00
2004-09-10 21:26:00
2004-08-10 14:36:00
2004-08-10 08:27:00
2004-06-09 23:29:00
2004-05-09 14:57:00
2004-05-09 10:07:00
2004-08-28 13:41:00
2004-07-28 03:56:00
2004-10-06 15:19:00
2004-03-05 04:36:00
2004-04-23 01:50:00
2004-09-04 15:23:00
2004-05-04 21:24:00
2004-08-02 08:58:00
2004-07-02 02:42:00
2004-05-02 21:05:00
2004-01-28 22:15:00
2003-12-27 16:00:00
2003-12-26 01:56:00
2003-12-25 07:11:00
2003-12-22 19:15:00
2003-10-12 04:38:00
2003-11-25 20:19:00
2003-11-18 17:14:00
2003-06-11 10:38:00
2003-10-31 01:06:00
2003-08-10 09:06:00
2003-01-10 01:03:00
2003-09-29 02:36:00
2003-09-27 11:33:00
2003-09-25 21:08:00
2003-09-25 19:50:00
2003-09-21 18:16:00
2003-08-21 12:12:00
2003-04-08 04:37:00
2003-07-15 18:46:00
2003-06-20 13:30:00
2003-06-16 22:08:00
2003-07-06 00:32:00
2003-05-26 19:23:00
2003-05-26 09:24:00
2003-05-21 18:44:00
2003-03-25 02:53:00
2003-11-03 07:27:00
2003-01-22 02:06:00
2003-01-21 02:46:00
2003-01-20 08:43:00
2003-10-01 13:11:00
2002-12-12 08:30:00
2002-03-11 22:12:00
2002-02-11 01:26:00
2002-10-23 11:27:00
2002-10-10 12:28:00
2002-10-10 10:50:00
2002-09-13 22:28:00
2002-08-09 18:44:00
2002-08-14 13:57:00
2002-07-31 00:16:00
2002-06-22 02:58:00
2002-06-18 13:56:00
2002-06-17 21:26:00
2002-04-26 16:06:00
2002-04-18 16:08:00
2002-04-18 05:02:00
2002-03-31 06:52:00
2002-03-28 04:56:00
2002-05-03 21:16:00
2002-03-03 12:08:00
2002-05-02 13:27:00
2002-03-02 07:11:00
2002-10-01 11:14:00
2002-03-01 10:17:00
2002-02-01 17:22:00
2001-12-23 22:52:00
2001-12-18 04:02:00
2001-02-12 13:01:00
2001-11-14 09:26:00
2001-10-31 09:10:00
2001-10-19 03:28:00
2001-12-10 15:02:00
2001-11-09 14:56:00
2001-07-28 07:32:00
2001-07-26 00:21:00
2001-07-07 09:38:00
2001-05-07 13:53:00
2001-06-26 04:18:00
2001-06-23 20:33:00
2001-04-19 21:43:00
2001-03-24 06:27:00
2001-03-19 05:52:00
2001-02-28 18:54:00
2001-02-24 07:23:00
2001-02-13 19:28:00
2001-02-13 14:22:00
2001-01-26 03:16:00
2001-01-16 13:25:00
2001-01-13 17:33:00
2001-10-01 16:02:00
2001-09-01 16:49:00
2001-01-01 08:54:00
2001-01-01 06:57:00
2000-06-12 22:57:00
2000-06-12 17:11:00
2000-11-25 18:10:00
2000-11-25 18:09:00
2000-11-18 06:54:00
2000-11-18 02:05:00
2000-11-17 21:01:00
2000-11-16 07:45:00
2000-11-16 07:42:00
2000-11-16 04:54:00
2000-08-11 06:59:00
2000-10-29 08:37:00
2000-10-25 09:32:00
2000-06-10 04:30:00
2000-04-10 16:58:00
2000-02-10 02:25:00
2000-08-28 15:05:00
2000-09-08 11:41:00
2000-04-08 21:13:00
2000-03-08 01:09:00
2000-07-30 12:25:00
2000-07-16 03:57:00
2000-11-07 01:32:00
2000-06-21 00:51:00
2000-06-18 14:44:00
2000-06-17 15:40:00
2000-07-06 23:45:00
2000-04-06 16:39:00
2000-04-06 16:28:00
2000-12-05 18:43:00
2000-04-05 04:21:00
2000-03-03 22:22:00
2000-06-02 11:33:00
2000-01-28 14:21:00
2000-08-01 16:47:00
1999-12-29 13:29:00
1999-12-21 14:14:00
1999-11-12 18:03:00
1999-06-12 23:12:00
1999-11-30 04:01:00
1999-11-26 13:21:00
1999-11-19 13:56:00
1999-11-17 03:27:00
1999-12-11 16:57:00
1999-08-11 16:45:00
1999-10-16 09:46:00
1999-09-30 16:31:00
1999-09-25 23:52:00
1999-09-20 17:47:00
1999-08-22 12:40:00
1999-08-20 10:02:00
1999-08-17 00:01:00
1999-11-07 14:14:00
1999-06-15 20:42:00
1999-05-17 10:07:00
1999-05-16 00:51:00
1999-10-05 20:33:00
1999-04-13 10:38:00
1999-05-04 11:08:00
1999-03-04 06:17:00
1999-03-28 19:05:00
1999-03-20 10:47:00
1999-08-03 12:25:00
1999-04-03 08:52:00
1999-04-03 05:38:00
1999-06-02 21:47:00
1999-01-28 08:10:00
1999-01-19 03:35:00
1998-12-27 00:38:00
1998-11-29 14:10:00
1998-09-11 05:38:00
1998-09-11 05:30:00
1998-09-28 13:34:00
1998-03-09 17:37:00
1998-02-09 08:37:00
1998-04-08 18:59:00
1998-07-29 18:00:00
1998-07-17 08:49:00
1998-07-16 11:56:00
1998-05-30 06:22:00
1998-05-22 04:48:00
1998-05-21 05:34:00
1998-05-13 23:02:00
1998-03-05 23:30:00
1998-03-04 22:01:00
1998-01-04 17:56:00
1998-03-14 19:40:00
1998-01-30 12:16:00
1998-12-01 16:36:00
1998-12-01 10:14:00
1998-10-01 08:20:00
1997-12-22 02:05:00
1997-05-12 11:26:00
1997-11-25 12:14:00
1997-11-18 13:07:00
1997-11-15 18:59:00
1997-09-11 22:56:00
1997-08-11 10:02:00
1997-10-28 06:15:00
1997-10-15 01:03:00
1997-10-14 09:53:00
1997-06-10 12:30:00
1997-02-09 12:13:00
1997-08-29 08:14:00
1997-07-19 14:22:00
1997-09-07 19:24:00
1997-06-07 09:54:00
1997-05-22 07:50:00
1997-05-21 14:10:00
1997-05-13 14:13:00
1997-10-05 07:57:00
1997-04-23 19:44:00
1997-04-22 09:31:00
1997-04-21 12:02:00
1997-05-04 12:23:00
1997-11-03 19:22:00
1997-02-27 21:08:00
1997-04-02 10:37:00
1997-11-01 20:28:00
1996-12-22 14:53:00
1996-02-12 22:17:00
1996-11-19 10:44:00
1996-12-11 16:59:00
1996-10-19 14:44:00
1996-10-18 10:50:00
1996-10-14 23:26:00
1996-09-10 13:10:00
1996-09-20 04:11:00
1996-09-20 04:10:00
1996-05-09 23:42:00
1996-02-08 12:55:00
1996-07-22 14:19:00
1996-07-16 10:07:00
1996-07-15 21:23:00
1996-06-17 11:22:00
1996-11-06 18:22:00
1996-10-06 15:24:00
1996-10-06 04:03:00
1996-10-06 01:04:00
1996-04-29 14:40:00
1996-04-19 00:19:00
1996-03-17 14:48:00
1996-03-03 16:37:00
1996-03-03 14:55:00
1996-02-25 03:08:00
1996-02-21 12:51:00
1996-02-17 20:18:00
1996-02-17 14:21:00
1996-02-17 05:59:00
1996-02-16 15:22:00
1996-07-02 21:36:00
1996-03-02 11:14:00
1996-01-01 09:57:00
1996-01-01 08:05:00
1995-12-25 04:43:00
1995-12-19 23:28:00
1995-03-12 18:01:00
1995-11-22 04:15:00
1995-01-11 00:35:00
1995-10-21 02:38:00
1995-10-19 02:41:00
1995-10-18 10:37:00
1995-09-10 15:35:00
1995-06-10 18:09:00
1995-03-10 12:44:00
1995-03-10 01:51:00
1995-09-23 22:31:00
1995-09-14 14:04:00
1995-08-28 10:46:00
1995-08-19 21:43:00
1995-08-16 23:10:00
1995-08-16 16:24:00
1995-08-16 10:27:00
1995-08-14 04:37:00
1995-07-30 05:11:00
1995-11-07 21:46:00
1995-06-29 12:24:00
1995-06-15 00:15:00
1995-05-27 13:03:00
1995-05-16 20:12:00
1995-05-14 11:33:00
1995-05-13 08:47:00
1995-05-05 03:53:00
2022-11-09 09:51:00
2022-11-09 09:38:00
2022-09-10 23:47:00
2022-09-05 04:52:00
2022-06-08 00:55:00
2022-05-10 23:06:00
2022-03-02 12:52:00
2022-02-03 15:58:00
2022-01-11 12:39:00
2022-01-11 11:35:00

In [713]:
display(merged_df2)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.500000,2023-08-16 12:47:00,7.000000,4.000000,green,0.0,657.000000,us,114.000000,7.177000,25.0,mww,192.955000,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
1,"M 6.5 - 43 km S of Intipuc, El Salvador",6.500000,2023-07-19 00:22:00,8.000000,6.000000,yellow,0.0,775.000000,us,92.000000,0.679000,40.0,mww,69.727000,12.8140,-88.1265,"Intipuc, El Salvador",Indonesia
2,"M 6.6 - 25 km ESE of Loncopu, Argentina",6.600000,2023-07-17 03:05:00,7.000000,5.000000,green,0.0,899.000000,us,70.000000,1.634000,28.0,mww,171.371000,-38.1911,-70.3731,"Loncopu, Argentina",Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.200000,2023-07-16 06:48:00,6.000000,6.000000,green,1.0,860.000000,us,173.000000,0.907000,36.0,mww,32.571000,54.3844,-160.6990,"Sand Point, Alaska",Indonesia
4,M 7.3 - Alaska Peninsula,7.300000,2023-07-16 06:48:00,0.000000,5.000000,NaN,1.0,820.000000,at,79.000000,0.879451,172.8,mi,21.000000,54.4900,-160.7960,Alaska Peninsula,Indonesia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 6.6 - 31 km S of Achanizo, Peru",0.038462,2001-07-05 13:53:00,0.000000,0.714286,NaN,0.0,0.008850,us,0.352941,0.000000,0.0,mwc,0.086707,-16.0860,-73.9870,Achanizo,Peru
1308,"M 6.9 - 47 km S of Old Harbor, Alaska",0.153846,2001-01-10 16:02:00,0.555556,0.714286,NaN,0.0,0.042035,ak,0.000000,0.000000,0.0,mw,0.048304,56.7744,-153.2810,"Old Harbor, Alaska",USA
1309,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",0.230769,2001-01-09 16:49:00,0.000000,0.714286,NaN,0.0,0.055752,us,0.405229,0.000000,0.0,mwb,0.148213,-14.9280,167.1700,Port-Olry,Vanuatu
1310,"M 6.8 - Mindanao, Philippines",0.115385,2001-01-01 08:54:00,0.000000,0.428571,NaN,0.0,0.026991,us,0.069717,0.000000,0.0,mwc,0.043204,6.6310,126.8990,Mindanao,Philippines
1311,"M 7.5 - 21 km SE of Lukatan, Philippines",0.384615,2001-01-01 06:57:00,0.000000,0.714286,NaN,0.0,0.095133,us,0.352941,0.000000,0.0,mwc,0.043204,6.8980,126.5790,Lukatan,Philippines

In [714]:
# Check for null values in the 'date_time' column
null_values = merged_df2['date_time'].isnull().sum()

# Display the result
if null_values > 0:
    print(f"There are {null_values} null values in the 'date_time' column.")
else:
    print("There are no null values in the 'date_time' column.")

There are no null values in the 'date_time' column.

In [715]:
# Sort the final table by 'date_time' in descending order
merged_df2 = merged_df2.sort_values(by='date_time', ascending=False)

# Reset the index for a clean DataFrame
merged_df2 = merged_df2.reset_index(drop=True)

display(merged_df2)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.6 - 277 km NNE of Codrington, Antigua and ...",6.6,2023-10-07 20:28:00,5.0,4.0,green,1.0,802.0,us,95.0,2.454,37.0,mww,10.000,20.0196,-61.0955,"Codrington, Antigua and Barbuda",Indonesia
1,"M 7.6 - 95 km WNW of Hihifo, Tonga",7.6,2023-10-05 16:02:00,8.0,6.0,green,1.0,907.0,us,111.0,3.631,17.0,mww,210.097,-15.6002,-174.6080,"Hihifo, Tonga",Indonesia
2,"M 7.6 - Pulau Pulau Tanimbar, Indonesia",7.6,2023-09-01 17:47:00,5.0,7.0,green,0.0,957.0,us,114.0,1.575,21.0,mww,105.249,-7.0852,130.0390,"Pulau Pulau Tanimbar, Indonesia",Indonesia
3,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,2023-08-16 12:47:00,7.0,4.0,green,0.0,657.0,us,114.0,7.177,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
4,M 7.0 - Vanuatu,7.0,2023-08-01 12:32:00,8.0,7.0,green,1.0,768.0,us,116.0,6.096,36.0,mww,29.000,-14.9383,166.8780,Vanuatu,Vanuatu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,1995-05-05 03:53:00,0.0,7.0,NaN,0.0,776.0,us,0.0,0.000,0.0,mww,16.000,12.6260,125.2970,"Cabatuan, Philippines",Philippines
1308,"M 7.9 - 128 km ESE of Kurilsk, Russia",7.9,1995-03-12 18:01:00,0.0,6.0,NaN,0.0,960.0,us,0.0,0.000,0.0,mww,33.000,44.6630,149.3000,"Kurilsk, Russia",Indonesia
1309,"M 6.5 - 50 km SE of Suca, Ecuador",6.5,1995-03-10 12:44:00,0.0,7.0,NaN,0.0,650.0,us,0.0,0.000,0.0,mww,16.700,-2.7780,-77.8510,"Suca, Ecuador",Ecuador
1310,"M 7.0 - 45 km SE of Suca, Ecuador",7.0,1995-03-10 01:51:00,0.0,7.0,NaN,0.0,754.0,us,0.0,0.000,0.0,mww,24.400,-2.7500,-77.8810,"Suca, Ecuador",Ecuador
1311,"M 6.7 - 73 km WSW of Vallenar, Chile",6.7,1995-01-11 00:35:00,0.0,7.0,NaN,0.0,691.0,us,0.0,0.000,0.0,mww,19.900,-28.9060,-71.4170,"Vallenar, Chile",Chile

## Cleaning Alert in merged_df2

In [716]:
# Define the function with the alert conditions
def assign_alert(row):
    # Red alert
    if (row['magnitude'] >= 7.0 and row['depth'] < 20) and (row['cdi'] >= 8 or row['mmi'] >= 8) and row['tsunami'] == 1:
        return "red"
    # Orange alert
    elif (row['magnitude'] >= 6.0 and 20 <= row['depth'] < 50) and (6 <= row['cdi'] < 8 or 6 <= row['mmi'] < 8):
        return "orange"
    # Yellow alert
    elif (row['magnitude'] >= 4.0 and 50 <= row['depth'] < 100) and (4 <= row['cdi'] < 6 or 3 <= row['mmi'] < 6):
        return "yellow"
    # Green alert
    else:
        return "green"

# Apply the function only to rows where 'alert' is NaN
merged_df2.loc[merged_df2['alert'].isna(), 'alert'] = merged_df2[merged_df2['alert'].isna()].apply(assign_alert, axis=1)

In [717]:
display(merged_df2)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 6.6 - 277 km NNE of Codrington, Antigua and ...",6.6,2023-10-07 20:28:00,5.0,4.0,green,1.0,802.0,us,95.0,2.454,37.0,mww,10.000,20.0196,-61.0955,"Codrington, Antigua and Barbuda",Indonesia
1,"M 7.6 - 95 km WNW of Hihifo, Tonga",7.6,2023-10-05 16:02:00,8.0,6.0,green,1.0,907.0,us,111.0,3.631,17.0,mww,210.097,-15.6002,-174.6080,"Hihifo, Tonga",Indonesia
2,"M 7.6 - Pulau Pulau Tanimbar, Indonesia",7.6,2023-09-01 17:47:00,5.0,7.0,green,0.0,957.0,us,114.0,1.575,21.0,mww,105.249,-7.0852,130.0390,"Pulau Pulau Tanimbar, Indonesia",Indonesia
3,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,2023-08-16 12:47:00,7.0,4.0,green,0.0,657.0,us,114.0,7.177,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",Vanuatu
4,M 7.0 - Vanuatu,7.0,2023-08-01 12:32:00,8.0,7.0,green,1.0,768.0,us,116.0,6.096,36.0,mww,29.000,-14.9383,166.8780,Vanuatu,Vanuatu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,1995-05-05 03:53:00,0.0,7.0,green,0.0,776.0,us,0.0,0.000,0.0,mww,16.000,12.6260,125.2970,"Cabatuan, Philippines",Philippines
1308,"M 7.9 - 128 km ESE of Kurilsk, Russia",7.9,1995-03-12 18:01:00,0.0,6.0,orange,0.0,960.0,us,0.0,0.000,0.0,mww,33.000,44.6630,149.3000,"Kurilsk, Russia",Indonesia
1309,"M 6.5 - 50 km SE of Suca, Ecuador",6.5,1995-03-10 12:44:00,0.0,7.0,green,0.0,650.0,us,0.0,0.000,0.0,mww,16.700,-2.7780,-77.8510,"Suca, Ecuador",Ecuador
1310,"M 7.0 - 45 km SE of Suca, Ecuador",7.0,1995-03-10 01:51:00,0.0,7.0,orange,0.0,754.0,us,0.0,0.000,0.0,mww,24.400,-2.7500,-77.8810,"Suca, Ecuador",Ecuador
1311,"M 6.7 - 73 km WSW of Vallenar, Chile",6.7,1995-01-11 00:35:00,0.0,7.0,green,0.0,691.0,us,0.0,0.000,0.0,mww,19.900,-28.9060,-71.4170,"Vallenar, Chile",Chile

In [718]:
# Save the merged DataFrame to a CSV file
file_name = '/content/clean_data_table2.csv'
merged_df2.to_csv(file_name, index=False)

from google.colab import files
files.download(file_name)